[2016-03-23 11:03] djvdorp opened #2 "Escape slashes ("/") from book titles"
The slash ("/") is mistaken for a path separator on Unix, see example issue here:

[code]

[2016-03-24 00:10] igbt6 commented on #2
thanks, fixed

[2016-03-24 00:10] #2 closed

[2016-03-24 06:23] djvdorp commented on #2
Thanks! I think the other slash ("\") might also be a problem but then on Windows, but not sure about that.

[2016-03-24 11:15] igbt6 commented on #2
yes, you are right, i should be fixed as well for windows. Forgot about it.

[2016-08-23 10:05] wotd opened #4 "problem with special characters?"
during packtFreeBookDownloader.py execution:

Traceback (most recent call last):
  File "packtFreeBookDownloader.py", line 187, in <module>
    downloader.downloadBooks(downloader.downloadBookTitles, downloader.downloadFormats)
  File "packtFreeBookDownloader.py", line 156, in downloadBooks
    if(os.path.isfile(fullFilePath)):
  File "/usr/lib/python2.7/genericpath.py", line 37, in isfile
    st

[2016-08-23 23:16] igbt6 commented on #4
Check the newest more clean and compressed version of the script. Should your problem be fixed

[2016-08-24 08:48] wotd commented on #4
Sorry, stil same problem. It looks like there is a problem with ebooks with dash in title?

[2016-08-24 11:00] igbt6 commented on #4
weird, i have dwnloaded all the titles from the account and worked correctly, Can you give me the exact title you come across a problem with ?

[2016-08-24 11:21] wotd commented on #4
This error occurs before script display title. But \u2013 is dash I think, so I suspect this book:
"Kali Linux – Assuring Security by Penetration Testing [eBook] "

[2016-08-24 19:54] igbt6 commented on #4
tested both on windows7 and ubuntu with Python ver 2.7 and 3.5 and seems to work without any with this title. Please check the latest version once again and let me know

[2016-09-28 04:40] dotweb opened #7 "problem with attribute"
During excecutions python packtPublishingFreeEbook.py -da
[INFO] - Creates session ...
[INFO] - Session created, logged succesfully!
[INFO] - Getting data of all your books...
[INFO] - opened  'https://www.packtpub.com/account/my-ebooks' succesfully!
[ERROR] - Exception occured 'NoneType' object has no attribute 'find_all'

[2016-09-28 16:42] igbt6 commented on #7
could you provide some more details when it happens ? what os, python version. etc ?

[2016-09-29 03:20] dotweb commented on #7
I'am sorry, I am on Ubuntu 16.04, pyhton -version 2.7.  It's success until logged on. but error some how. also the other option [-g], errors code like;
[INFO] - Creates session ...
[INFO] - Session created, logged succesfully!
[INFO] - start grabbing eBook...
[ERROR] - Exception occured eBook:R Machine Learning Essentials has not been grabbed~! ,http GET status code != 200

[2016-09-30 08:05] nevzat opened #8 "feature request : download last x number of claimed e-books"
Could you add a parameter so that we can download last "x" number of claimed e-books? (e.g. last 10 claimed e-books)

I'm a Python newbie, I couldn't do it.

Thanks

[2016-09-30 12:09] nevzat opened #9 "feature request : save to google drive"
I think it's possible via Google Apps Script's Python extensions I found on this page : https://developers.google.com/apps-script/guides/rest/quickstart/python

It would be great to save the e-books to a predefined folder on our Google Drive storage, by giving our Google credentials in cfg file.

[2016-10-01 22:43] #4 closed

[2016-10-03 07:39] igbt6 commented on #8
hello!
I think such feature is not very needed or even convenient to use.  The books are already being downloaded in such order (from last claimed to the oldest ones) If you really need this you can easily check when **nrOfBooksDownloaded**  variable is bigger than 10, then finish it. Best regards!

[2016-10-03 07:43] igbt6 commented on #9
Hello, it's a good idea. I have already written a python script that synchronizes folders from my PC with  Google Drive (makes a copy of them).  [Here are the sources](https://github.com/igbt6/GoogleDriveFileSynchronizer)  So maybe i'll find somne time to add it to this cript

[2016-10-03 08:00] nevzat commented on #9
I'm still learning Python. I hope I can contribute my first GitHub codes with this project. Cheers.

[2016-10-03 08:02] nevzat commented on #8
I didn't know that variable exists. That should do the trick. Thanks.

[2016-10-03 08:02] #8 closed

[2016-10-06 20:28] igbt6 commented on #7
Nobody has found such issue so far, maybe u've been using any proxy ? , im closing it for now.

[2016-10-06 20:28] #7 closed

[2016-10-15 08:04] bbelderbos opened #15 "feature request: send to kindle"
thanks for this awesome script!

what would be very cool is the send to kindle option, I use that a lot myself when I enter the daily deal. maybe I can look at implementing it myself, just wanted to know if you have thought about adding it.

[2016-10-15 08:34] igbt6 commented on #15
Hello buddy! nice idea! i have not played with any Kindle API so far, so if you have some experience with that or mostly have some fre time to add such feature, feel free and welcome : )

[2016-10-15 08:38] bbelderbos commented on #15
thank you, in packt you can add your send-to-kindle email and packt shows a button, if time this weekend, will give it a try ...

[2016-10-15 08:40] bbelderbos opened #16 "feature request: specify logfile (for logging output)"
Hi again, practical thing ... it seems that the standard log option writes this to the specified logfile (in config):

TITLE --> Python Unlocked
DESCRIPTION --> Become more fluent in Python—learn strategies and techniques for smart and high-performance Python programming
AUTHOR --> Arun Tigeraniya
TIME --> 2015-12-30
DOWNLOADED_AT --> 15-10-2016 02:21

the logging module output however is more ver

[2016-10-15 08:42] bbelderbos commented on #16
related to this is the regular log write option which is coupled with the -g option only:

    parser.add_argument("-gl", "--grabl", help="grabs and log data",
                        action="store_true")

was that a conscious choice? I would offer logging with each cli option

kudos for this project, I was going to roll my own but this solution works very well, thanks

[2016-10-15 09:46] igbt6 commented on #16
"was that a conscious choice ?"  - yeah that's a good question :D; first idea was that when you only claim a book without downloading, you'd like to know what has been claimed to download or not it later, taht's why you log it, when you also download it, you already automatically know what has been retrieved. But yes, you're totally right, it should be available as an extra option for each option

[2016-10-15 22:00] bbelderbos commented on #15
no need to scrape the page further, you can just add a mail attachment option that sends pdf to mail and mobi to kindle (which combo I find ideal).

method from here: http://stackoverflow.com/questions/3362600/how-to-send-email-attachments-with-python

got it working, but need to clean it up a bit so we set all 3 emails (from, pdf-to, kindle-to) in config file, will do pull request when I have it

[2016-10-17 16:18] bbelderbos commented on #15
email working, kindle not. opened pull requests, maybe you can check it and let me know if this is useful. cheers

[2016-10-19 23:51] igbt6 commented on #9
done

[2016-10-19 23:51] #9 closed

[2016-10-20 23:40] #15 closed

[2016-10-22 17:20] igbt6 commented on #16
done, take a look at LOG_FILE_PATH in utils/logger.py  , Separeted logging to file and console,

[2016-10-23 04:41] #16 closed

[2016-11-23 12:47] jaan143 opened #18 "videos"
hi
first of all thanks for making this program
can you tell me we can download packt publishing videos also from this downloader ?

[2016-11-24 11:28] igbt6 commented on #18
Hi,
good you found it useful.
Actually there is no such feature implemented, i didn't buy any videos from packt so could not even test it :)   You can open pull request and try to add the feature on your own, it shouldn't be too difficult. In case f any problems, feel free to ask.

Best regards !

[2016-11-28 08:03] nevzat opened #19 "Seems like hanged on big downloads"
Download seems hanged or timeout when a big file downloads e.g. last weeks "Blender 2.5 Materials and Textures Cookbook" title's code file which was a couple of hundredths MB in size! I waited for hours for it to complete, there was no disk activity for a long time so I finally pressed Ctrl-C to end the script. Luckily the file was fully downloaded but somehow script hanged there. After my Ctrl-C,

[2016-12-02 07:41] igbt6 commented on #19
Hello, i haven't observed such behavior so far, i'll try to check this and fix, progress status bar, would be good, when i only find some more free time, i'll add it.

[2016-12-11 09:59] astondevops opened #20 "Running on docker containers"
First of all, thanks for your code it works fine on my localhost but I've got something strange when moving your code in a docker container  on a KVM VM.
So I have a small VM from Lunanode in Roubaix and set up a docker container using a docker build with all your code on python3.4.
All is good till I got a trouble in line 177 of your Pack py program. I have a 404 error but I don't why the beautif

[2016-12-11 10:15] astondevops opened #21 "When using the switch -da"
In addition when using the switch -da I've got
 python3 packtPublishingFreeEbook.py -da
[INFO] - Creating session...
[INFO] - Session created, logged in successfully!
[INFO] - Getting data of all your books...
[INFO] - Opened 'https://www.packtpub.com/account/my-ebooks' successfully!
[ERROR] - Exception occurred 'NoneType' object has no attribute 'find_all'

[2016-12-11 19:34] igbt6 commented on #20
Hello, honestly i have no idea what kind of a problem it might be, try to debug it deeper and share your solution when you are done,
Thanks in advance,

BR,
łukasz

[2016-12-11 19:40] igbt6 commented on #21
Hello, looks like your books list is empty ? I have tested the switch -da at the moment and it works well on my ubuntu 16.04 with python 3.5 installed, Does it happen on localhost or also on the docker container you mentioned in the previous post

[2016-12-13 16:58] trancen commented on #19
I can confirm the same issue. I was downloading my list of claimed books. One of them has code/zip file of about 900MB and it times out.

[2016-12-13 18:52] trancen commented on #19
@nevzat  I added a progress bar code, see my fork, I have also submitted the code back to igbt6. It also resolves the issue where it times out on the download. I downloaded a 900mb file without a issue.

[2016-12-13 19:03] nevzat commented on #19
Many thanks.

On 13 Dec 2016 21:52, "trancen" <notifications@github.com> wrote:

[2016-12-13 20:14] trancen commented on #4
Had the same issue with that very book that wotd reported.... My code change at the link below resolves the issue:
https://github.com/trancen/Packt-Publishing-Free-Learning/commit/894927b4d33687e76524eb9c4d9ae13c27fb0bb0

[2016-12-13 23:03] igbt6 commented on #19
Good job! Can you open a pull request, i would merge your changes to the main branch if you don't mind : )

[2016-12-14 20:50] frederikkunze commented on #21
I had this too. I managed to find the issue. For me it was wrong login credentials(wrong password).

[2016-12-14 20:52] frederikkunze opened #23 "Subdirectorys"
Wouldn't it be better to put all files into subdirectorys based on the books name?

[2016-12-15 05:53] nevzat commented on #23
I think that would be a good optional switch too

[2016-12-15 13:51] #18 closed

[2016-12-17 20:35] tgagor opened #24 "[ERROR] - Exception occurred 'NoneType' object is not subscriptable"
Hi,

I have such error for 2 days:

[code]

Looks like they changed GUI a little. Sorry but I didn't find time right now to debug it further.

[2016-12-17 20:39] nevzat commented on #24
The reason might be this : Packt stopped giving away free e-books until
2017. They started $5 campaign instead.

On Sat, Dec 17, 2016 at 11:35 PM, tgagor <notifications@github.com> wrote:

[2016-12-17 21:39] tgagor commented on #24
Dude, you're fast 😊
I looked at this moment ago and wanted to write that, but you were faster.
No free ebooks till new year 😑

P.S. Your script is/was great! Thanks!

sob., 17.12.2016, 21:39 użytkownik nevzat <notifications@github.com>
napisał:

--

Pozdrawiam,
Tomasz.

[2016-12-17 21:44] nevzat commented on #24
thanks but I'm not one of the authors, I'm just a happy user :)
I reply using my gmail, without ever logging in into github, that's faster
to reply on a question.
Cheers.

On Sun, Dec 18, 2016 at 12:39 AM, tgagor <notifications@github.com> wrote:

[2016-12-18 00:05] igbt6 commented on #24
Yeah, As you observed it's caused by stopping the promo from Packt; maybe info msg should be different, but i'll see if they turn the offer on from 2017, if so i'll fix it then ,

Łukasz

[2016-12-18 00:06] #19 closed

[2016-12-18 00:06] #20 closed

[2016-12-19 11:29] #24 closed

[2016-12-21 00:24] teekay30 opened #25 "'flush' error when using Python 2 from the progress bar"
[ERROR] - 'flush' is an invalid keyword argument for this function

I believe it's because Python 2 doesn't support the use of 'flush=true' as it's a feature starting from Python 3.3 from what I gather.
Line 215 from :
` print("\r[PROGRESS] - [{0:50s}] {1:.1f}% ".format('#' * int(currentWorkDone * 50), currentWorkDone*100), end="", **flush=True**)`
Alternative to this would be to 'import sys' and

[2016-12-21 10:29] igbt6 commented on #25
good find, yeah i actually missed testing it with python 2, I will fix it soon
Best regards!

[2017-01-10 23:30] igbt6 commented on #25
As Packt renewed their free books daily offer, i have fixed it : )

[2017-01-11 00:33] #25 closed

[2017-01-11 00:34] igbt6 commented on #23
Done by @iambenzo !
mergeed

[2017-01-11 00:34] #23 closed

[2017-01-11 05:25] josevill opened #27 "Logs issue - Fetching wrong info."
I've been using the script for a couple days and found out that the "grab ebook info" function, fetches the info (Description, Author and the date you got the book) of the first book in your library, it should be the info of the book that's currently available to get on free-ebooks.

I feel a better way of keeping a log would be: Title, description, Author, downloaded_at. What do you say? @igbt6

[2017-01-11 23:11] #27 closed

[2017-01-12 21:25] tgagor opened #29 "Some unicode crap in book title generates error"
Hi again,

thanks god they enabled free ebooks again! :)

Today's one `Kali Linux – Assuring Security by Penetration Testing` have strange unicode dash that generates error:
[code]

If this happens once, it will happen again in future.

Ebook was grabbed and downloaded successfully but with filename without unicode sign:
[code]

[2017-01-14 21:47] josevill commented on #29
I got that error too, then i ran the script once again and got it working successfully, although it didn't get the dash, it wouldn't show any errors again, we might need to adapt the script to handle unicodes in the book's name.

[2017-01-16 09:52] tgagor commented on #29
I didn't test script in Python 3
Should it be working?

[2017-02-15 11:37] eharris opened #32 "Need switch to disable progress bar"
If the code is done daily by cron, it ends up generating 2+ meg of log just from a single book download from the update of the progress bar.

The progress bar should only be output if it is run in an interactive shell, and there should probably be a command line switch or config option to disable the progress bar to avoid generating tons of useless logging data.

[2017-03-08 13:01] troyp opened #34 "windows line endings in `packtPublishingFreeEbook.py`"
The python file is contaminated with windows line endings. As a result, if you execute this file directly (via the shebang), an error occurs since the shell can't find "python\r". The line endings can be converted (eg. with `dos2unix`), but that puts the repo out-of-sync. It's not a problem if you execute with `python packtPublishingFreeEbook.py`.

__to reproduce:__ On unix, clone repository and e

[2017-03-18 18:06] igbt6 commented on #21
already fixed on  master, chek this out!

[2017-03-18 18:06] #21 closed

[2017-03-18 18:06] igbt6 commented on #34
already fixed on master, chek this out!

[2017-03-18 18:06] #34 closed

[2017-03-18 18:06] igbt6 commented on #29
problems with unicodes already fixed on master, check this out!

[2017-03-18 18:07] #29 closed

[2017-03-22 20:14] #32 closed

[2017-03-24 14:55] tomipnh opened #39 "Error at exit"
After grab and download book program doesn't exit clean.

[INFO] - Creating session...
[INFO] - Session created, logged in successfully!
[INFO] - Start grabbing eBook...
[SUCCESS] - eBook: 'OpenCV_for_Secret_Agents' has been successfully grabbed!
[INFO] - Getting data of all your books...
[INFO] - Opened 'https://www.packtpub.com/account/my-ebooks' successfully!
[INFO] - Title: 'OpenCV_for_Secret_

[2017-03-28 15:13] igbt6 commented on #39
hmm, seems you stopped the script fro Keyboard manually so where is the actual problem ?

[2017-03-29 08:25] tomipnh commented on #39
i did after about 20 minutes waiting

[2017-04-14 07:37] sykiewang opened #41 "Can you add proxy function ?"
I can not visit www.packtpub.com without proxy ,so i wonder if you can add proxy function.
like socks5 or http, thanks

[2017-04-22 10:59] mjenczmyk opened #42 "Feature request: grab a book and send email about success/failure"
First of all - thanks, your script is saving me a few minutes every day.

Now I'm thinking about running this script on [PythonAnywhere](https://www.pythonanywhere.com/) as a scheduled task and what I miss is a possibility to grab a book and send me an email whether script execution was successful. I've seen there are two similar features - to grab a book and log it into file and another one allow

[2017-04-23 10:46] igbt6 commented on #42
Cześć Marcin!
Actually yeah i have been using similar notification on my webserver, which informs me when by sending email when the script has failed, i have jsut added it to main repo , take a look on -rm option.
Best regards!

[2017-04-23 23:12] mjenczmyk commented on #42
Cześć!

Actually I was thinking about something a bit different - I would send an email even if script has succeeded - in case of hosting service failure, problems with the internet connection I wouldn't know about failure because I wouldn't receive any email informing me about failure; I wouldn't be able to distinguish situations when everything went well and when sending an email about failure f

[2017-04-25 10:44] igbt6 commented on #42
yeah, seems reasonable, so  maybe the easiest solution would be just use the same option flag "-rm" and move the code on success as well:
`        if args.report_mail:
            from utils.mail import MailBook
            mb = MailBook(cfgFilePath)
            mb.send_info(body="messgae on success")
 `
Propose some changes, i'll merge it then,
Regards!

[2017-04-25 13:05] mjenczmyk commented on #42
OK, I'll try to do that in the evening.

This parameter shorthand `-rm` is very creepy to me :D

[2017-04-25 13:40] igbt6 commented on #42
-rm as [--report_mail], feel free to modify

[2017-04-25 15:25] mjenczmyk commented on #42
That's fine, it just recalls `rm` command which can be destructive.

[2017-04-25 15:32] mjenczmyk commented on #39
One could catch `ctrl+C` to exit from script gracefully.

[2017-05-19 23:28] igbt6 commented on #41
I have no plan for this right now, You can open pul lrequest and add it on your own :)

[2017-05-19 23:28] #41 closed

[2017-05-19 23:28] igbt6 commented on #42
done

[2017-05-19 23:28] #42 closed

[2017-05-19 23:28] #39 closed

[2017-05-20 11:07] ghost opened #50 "Split status mail flag with success and failure"
Actually the script is very spamer sending all the correct fetched books, when I only want to see if an error happened, like before with -rm

Can you recover this funcionality? for example, with 2 flags one OK, other for Failure (and the actual that enables both)

[2017-05-22 08:14] igbt6 commented on #50
Hello, Yes we changed the behaviuor a bit, the feature was implemented at: https://github.com/igbt6/Packt-Publishing-Free-Learning/issues/42 by @mjenczmyk . Maybe it's worth to make this notifications seperate. As I am overloaded currently, do you maybe want to open a pull request :) ?

[2017-05-25 13:50] ankur-p opened #51 "[ERROR] - Exception occurred u'href'"
This error started happening today when trying to grab the current ebook.  Checked the site, and it seems they've implemented captcha.  Not sure how long they've had this, but I think it's the first time I've seen it.  Guessing the captcha is what's causing the error.  Downloading existing books on my account still seems to work fine.

[2017-05-25 16:06] igbt6 commented on #51
yeah, so now it seems like we have to crack the google recaptcha which they used :D

[2017-05-25 16:55] ankur-p commented on #51
haha yeah, I wasn't exactly expecting a "fix" for this one.  just thought I'd let you know about it.  ;)

[2017-05-25 18:20] yodous commented on #51
Eh. Does it means, that all packtpub scripts can now be trashed? :(

[2017-05-25 19:04] jankoEM commented on #51
hope not :(

Pozdrawiam.
Marcin

2017-05-25 20:20 GMT+02:00 yodous <notifications@github.com>:

[2017-05-26 06:47] Naoray commented on #51
Seems like google has patched his captcha methods recently. We could've cracked it a few months ago. For the ones who are curious how it worked: https://east-ee.com/2017/02/28/rebreakcaptcha-breaking-googles-recaptcha-v2-using-google/

[2017-05-26 06:59] ad-m commented on #51
It is possible to use antigate.com or similar. For $ 1 there are 1.5 images, which is enough for years.

[2017-05-26 10:12] P3trur0 commented on #51
:(

[2017-05-26 20:56] jankoEM commented on #51
'`-dc`' is only parameter that provides some sort of automation (together with manually clicked captcha) ?
No mater what comes next, thank you Łukasz for a great tool! I enjoyed the couple months of using it 👍

[2017-05-26 21:07] greggmarshall commented on #51
I wonder if they got enough complaints about it PacktPub would remove it?

[2017-05-26 21:13] P3trur0 commented on #51
Personally I do not see any value on having a captcha there, besides their
will to stop script accesses. At least, we could still use a script to
notify people by e-mail about book of the day, since to scrap the title of
the page does not need a login.

Il ven 26 mag 2017, 23:07 Gregg Marshall <notifications@github.com> ha
scritto:

--
Ubaldo Pescatore
ubaldopescatore@gmail.com
Github: http://gith

[2017-05-26 21:21] ankur-p commented on #51
-da -f was a life-saver for me (big thanks to the devs, btw!), and those flags still seem to work fine.  So far I'm only seeing an issue with -g and its derivatives, but grabbing the file manually then downloading via script works.  It's a shame they've blocked the script access to grab.  Here's to hoping they don't follow-up by blocking all script downloads, too.

[2017-05-27 01:14] theApotheosis commented on #51
It's simple: is hot dog or is not hot dog.

[2017-05-27 10:28] mjenczmyk commented on #50
@Palatosino I implemented it that way, because I wanted to make sure I know something failed - if a service I set a cron on failed I wouldn't get an email at all (and I would be convinced everything went OK, because I didn't get an email.

Anyway, I'm not sure if it still matters as there is capcha to be solved before grabbing - if I were you I would wait to see if they have removed captcha (the s

[2017-06-01 14:25] katonap opened #52 "upload already downloaded files to google drive"
Is it possible to upload the already downloaded files/folders to google drive in a way that the folder structure of the google drive upload folder would be the same as the structure of the download_folder_path?

[2017-06-01 19:14] igbt6 commented on #52
yeah sure, it should work, just create:
`                google_drive = GoogleDriveManager(cfg_file_path)
                google_drive.send_files(paths)
`
where `paths are` all book paths and `cfg_file_path` is the .cfg file location which contains root_folder name

[2017-06-02 17:18] eharris opened #53 "Email notifications should allow sending email without login/password and/or TLS"
When trying to send an email using localhost or another "internal" mail server, it fails:

[code]

(Note that I've hacked the script to use ConfigParser since I have an older version of Python installed)

Also, the email fails if the given server doesn't support TLS (which isn't needed if the server is local/private):

[code]

[2017-06-06 19:22] djvdorp commented on #51
+1 for this, only noticed today that they implemented a CAPTCHA and thus broke the -g of the script days ago unfortunately, so I missed some of the current promo since I often forget checking it myself daily.

[2017-06-06 19:46] katonap commented on #52
Thanks, I tweaked it a little here and there and it works like a charm

[2017-06-06 19:46] #52 closed

[2017-06-08 14:44] Forge64 commented on #51
I got bitten by this too, missed some books, and now have to manually go to their site every morning. Greatly reduced value for me, and reduced eyeball time on their site, too. I used to check out my book collection periodically and head to their site to look for complimentary titles. Now I forget to grab today's book in time, and get discouraged, don't bother doing anything with their site. Big l

[2017-06-09 10:32] pybites commented on #51
Maybe try this? https://2captcha.com/recaptchav2_eng_instruction - if anybody solves it please let us know, we have a packt ebook code challenge this week: https://pybit.es/codechallenge22.html

[2017-06-11 15:35] yodous opened #54 "Download the last one, two or X claimed books"
Hello,
While the option to automatically grab a book is not available right now (Captcha), please consider include option to download the last X books from the all books list.
The is an option to download all books. The latest claimed books are at the top of the list, so it should be easy to just pick the one, two or X last claimed books.
It will do some of the work, while I have to manually claim

[2017-06-16 20:57] eharris commented on #54
+1 for this.  At the moment I have a weekly cron invocation that downloads all books, but I'd prefer to have it download the current book automatically as long as I've already claimed it.

[2017-06-22 09:40] woeterman94 opened #55 "Captcha?"
How can we get this to work with the captcha?

Kr

[2017-07-03 13:16] josevill commented on #54
Thing is the books aren't arranged by date but by names.
So we'd have to make a list of all grabbed books and make a new param.

[2017-07-03 21:27] eharris commented on #54
I don't think that's true.  I've noticed that the list of ebooks on your account is ordered in reverse-chronological order of acquisition.  The link is here:

https://www.packtpub.com/account/my-ebooks

So that page can be used to easily find and fetch the last N books purchased by just processing them in the order they are displayed on that page.

[2017-07-03 22:46] josevill commented on #54
I'll have to double-check that one, last time mine was arranged by letters,
might've been a simple coincidence.

If it's ordered by acquisition date, it's going to be easy to make it
possible.

2017-07-03 23:27 GMT+02:00 Evan Harris <notifications@github.com>:

[2017-07-10 19:41] yodous commented on #54
At the moment I'm using below JS script on site https://www.packtpub.com/account/my-ebooks to get the string, which I'm putting into configFile for: downloadBookTitles

[code]

[2017-07-13 16:13] mjenczmyk commented on #54
The order date is provided inside the `div`s with books in your collection on https://www.packtpub.com/account/my-ebooks, so one could easily extract it and add as a new entry key the list of all books that is created in `BookDownloader.get_my_all_books_data`.

What you are writing about shouldn't be hard to achieve, one could even add a command that downloads all books ordered between two given d

[2017-07-17 17:35] mjenczmyk commented on #50
@Palatosino Can this issue be closed as it seems that grabbing books with scheduled task is impossible because of captcha?

[2017-07-18 08:34] Santosh-Sah commented on #55
They have removed the captcha verification now

[2017-07-18 15:55] mjenczmyk commented on #54
How about downloading books grabbed between two given names?

[2017-07-19 08:05] Palatosino commented on #55
They don't removed the captcha verification. They moved to no-captcha reCaptcha. Yo can see the reCaptcha logo in the corner of the web.

[2017-07-19 09:39] Santosh-Sah commented on #55
Yeah I have inspected the page and found they are using google re-captcha invisible

[2017-07-28 11:12] igbt6 commented on #54
Rejected by the same reason as at #59, I think that downloading by ebook's title is enough and keeps the code simple and clean for everyone

[2017-07-28 11:12] #54 closed

[2017-07-28 11:14] #55 closed

[2017-07-28 11:16] igbt6 commented on #50
Close for now, I will try to recover the previous functionality in future as it was more useful for me as well

[2017-07-28 11:16] #50 closed

[2017-07-28 12:07] ChuckWoodraska commented on #51
I don't think the captcha is stopping this. It looks like there is no href to grab anymore. I just get the claim url from the form action and it seems to work. I'll put a pull request up with my change.

[2017-07-29 14:13] jolny commented on #51
@ChuckWoodraska I tried your code but it gives me:
_[ERROR] - Exception occurred eBook: Unity_Shaders_and_Effects_Cookbook has not been grabbed!, does this promo exist yet? visit the page and check!_

[2017-07-31 15:02] ChuckWoodraska commented on #51
@jolny ya it looks like I spoke too soon. Thought it was working but after testing some more it seems like it isn't.

[2017-08-22 16:51] woeterman94 commented on #55
Why is this closed? Doesn't seem resolved to me

[2017-08-22 16:58] ad-m commented on #55
@woeterman94 , fixed in #56 .

[2017-08-22 22:08] igbt6 commented on #51
Solved by adding reCaptcha solver from https://anti-captcha.com  at #56

[2017-08-22 22:08] #51 closed

[2017-08-23 10:17] ranrinc opened #65 "error in login to google Drive"
It present error that the credetial directory doesnt exist. Furthermore it required verification which I also dont know...

/usr/local/lib/python2.7/dist-packages/oauth2client/_helpers.py:255: UserWarning: Cannot access /home/admin/Packt/.credentials/GoogleDriveManager.json: No such file or directory
  warnings.warn(_MISSING_FILE_MESSAGE.format(filename))

[2017-08-23 11:14] ranrinc commented on #65
Nevermind, I got what it need to be done.
Solution is:
.credentials/GoogleDriveManager.json with an empty files. Then to make sure you open the browser for the verification code.

[2017-08-23 11:57] Naoray commented on #51
@igbt6 thanks for this! works as good as before the captcha integration :)

[2017-08-28 16:30] mjenczmyk opened #67 "Lint the code with pylama"
As code in this repo is becoming more and more compliant with PEP8 it would be nice to use pylama to lint it - it's easy to configure Travis to run pylama on every PR and warn about style issues in PR changes. Existing and harder to resolve issues could be ignored in pylama configuration and resolved later.

To be done:
- [ ] use pylint linter;
- [ ] use mccabe linter;
- [ ] use pycodestyle linter

[2017-08-28 16:33] mjenczmyk opened #68 "Drop Python 2.6 support"
Last Python 2.6 release was in 2008. Could we drop the support for it and remove redundant code?

[2017-09-03 06:19] develsites opened #70 ""ImportError: No module named configparser" error on Python 2.7.13"
I've added one task to launchd on Mac and during executing it I have an error which provided below:

[code]

If I run the script inside in the `src` folder directly in terminal then it works correctly.

How to solve this issue? Thanks

[2017-09-03 13:29] mjenczmyk commented on #70
My first guess is that it's because such package does not exist in Python 2.7 - we can either import if from `six` or import it like below. I'll make a pull request at most that evening and add you as a reviewer.

[code]

[2017-09-03 13:53] mjenczmyk commented on #70
Have you installed the dependencies in virtualenv? Are you using virtualenv? I made a new Python 2.7.13 virtualenv, installed all dependencies and everythong works fine.

[2017-09-03 14:54] mjenczmyk commented on #70
@develsites Pull request on it's way #71.

[2017-09-03 15:20] mjenczmyk opened #72 "apiclient has no http module"
When i try to import from `apiclient.http` i get `ImportError`. That's what we do in Google Drive module. I guess we should import from [Google API Python Client](https://google.github.io/google-api-python-client/docs/epy/googleapiclient.http-module.html), but I started to wonder if Google Drive integration was ever working? @igbt6, have you ever used it?

I can make a pull request to use Google A

[2017-09-03 18:30] #65 closed

[2017-09-03 19:55] develsites commented on #70
Thank @mjenczmyk for replaying. So, I've tested your solutions but I've got another one

[code]

For some reasons my Python doesn't see my dependencies when it was run by using crontab or launchd on Mac.

I executed this script through shell scripting (I made the checking a date) directly without any virtual environments. The Python was installed by using Homebrew. Please look at an additional inf

[2017-09-03 20:00] ad-m commented on #70
@develsites You do not use virtualenv for cron, because you're using system-wide "python" file, most propably.

I suggest write ```which python```, then use absolute path of python binary in ``$PYTHON -m pip install requests``` and in cron-tab rules.

[2017-09-03 20:00] ad-m commented on #70
I also thought it was worthwhile to verify that you are not modifying the PYTHONPATH environment variable in an undesirable way.

[2017-09-03 20:15] mjenczmyk commented on #70
@develsites What package manager for Python packages are you using? Is it `pip` or some other OS relates stuff?

[2017-09-03 21:59] igbt6 commented on #67
Feel free to add a job on travis or circleci.com

[2017-09-03 22:02] igbt6 commented on #53
@eharris Feel free to open some PR  : )

[2017-09-03 22:04] igbt6 commented on #72
@mjenczmyk I am using it on my daily basis and works like a charm, maybe some changes occured in the API somehow recently, i will check it

[2017-09-03 22:13] igbt6 commented on #68
feel free to open a PR, btw why do you open such question as an issue ?? It's a PR question.  Closed

[2017-09-03 22:13] #68 closed

[2017-09-03 22:25] mjenczmyk commented on #68
I just don't want to make a work that'll be rejected - there is a chance that changes that require decision will be rejected when the PR is made.

But OK, I'll do this when I'll have a moment.

[2017-09-03 22:41] igbt6 commented on #68
Ok, you are right! It sounds reasonable : )
Regards!

[2017-09-04 08:44] develsites commented on #70
Thank you @ad-m and @mjenczmyk for helping:) Unfortunately, I couldn't fix this yet. I use `Python` directly without `virtualenv`. So, the absolute path which was installed by `Homebrew` is `/usr/local/Cellar/python/2.7.13_1/bin/python2` so, when I use `/usr/local/Cellar/python/2.7.13_1/bin/python2 -m pip install requests` or `/usr/local/Cellar/python/2.7.13_1/bin/python2 -m pip install configpars

[2017-09-04 09:22] develsites commented on #70
Thank everybody for helping ;)
The issue has been solved. The reason was different paths to the `Python` binary (one was system-wide installed and one installed from brew). Because I use some shell script which is using different binaries.

Thanks so much for everybody :)

[2017-09-04 09:22] #70 closed

[2017-09-04 20:44] mjenczmyk commented on #67
I have made a pull request with simple pylama configuration (that will configure pylama with mccabe, pycodestyle and pyflakes linters). Next I'll figure out how to configure Travis (but I suppose you will have to enable travis builds yourself as a repo owner).

[2017-09-04 21:14] mjenczmyk commented on #67
OK, I have also added a Travis configuration in #73. Could you enable build on Travis (it should hopefully detect this branch whenever there will be a new push)?

[2017-09-05 08:37] igbt6 commented on #67
very good job, Thx!  I'll test it after work and do merge

[2017-09-13 23:52] igbt6 commented on #72
Tested, works correctly for python 3.6 and 2.7

[2017-09-13 23:52] #72 closed

[2017-09-13 23:52] igbt6 commented on #67
Already merged

[2017-09-13 23:53] igbt6 commented on #53
Closed for now, no need for such update

[2017-09-13 23:53] #53 closed

[2017-09-15 09:01] nevzat opened #76 "usage with Anaconda"
I uninstalled pure Python on my Windows system and switched to use Anaconda. How should I install this script and its requirements? conda or pip? I created a new environment for just this script but don't know / can't decide what to do now. Can someone add some help to instructions on installing this under Anaconda please?

[2017-09-15 10:11] igbt6 commented on #76
Hello, I think there is no need to add any instructions  for Anaconda envs. As stated:  "Both pip and conda are included in Anaconda and Miniconda, so you do not need to install them separately". Just use pip and it should work : )
https://conda.io/docs/user-guide/tasks/manage-pkgs.html#installing-non-conda-packages

[2017-09-15 14:03] nevzat commented on #76
Thank you. I tried installing with pip and succeeded!

[2017-09-15 14:03] #76 closed

[2017-09-17 10:35] mjenczmyk commented on #67
Could you reopen this? There is still pylint and pydocstyle to be enabled.

Have we checked that Travis CI runs pylama when pull request is made/updated?

Also, from now we shouldn't push directly to master (can we secure this branch from pushing and leave pull requests as the only way of updating this?).

[2017-09-17 10:39] mjenczmyk commented on #72
Thanks, I've seen that Google API Python Client has replaced apiclient in requirements.txt.

[2017-09-17 20:45] igbt6 commented on #67
ok, sorry : )
1. Yeah, check this out: https://travis-ci.org/igbt6/Packt-Publishing-Free-Learning

[2017-09-17 22:05] mjenczmyk commented on #67
Thanks, Travis is configured indeed.

[2017-10-29 13:19] rivabem opened #79 "Website stoken 'Array' is invalid.!"
Grabber is failing for 4 easy with the message below, no change in my environment, maybe in packt's:

Today's free Packt ebook grabbing has failed with exception: Some of the required values for successive user emulation are missing.. Website stoken 'Array' is invalid.!

[2017-10-29 13:20] rivabem commented on #79
Typo: it has failed 4 days already.

[2017-10-29 13:24] ad-m commented on #79
This is a change that was introduced in Anti-captcha.com API. Fixed in ad-m/python-anticaptcha#4 three days ago. Use ```pip install python-anticaptcha -U``` or update this app.

[2017-10-29 22:20] rivabem commented on #79
Used pip. Solved!
Thanks.

[2017-10-29 22:20] #79 closed

[2017-10-30 14:18] woeterman94 opened #80 "Some of the required values for successive user emulation are missing.. Website stoken 'Array' is invalid."
2017-10-30 15:14:57,693 - __main__ - [INFO] - Creating session...
2017-10-30 15:15:09,581 - __main__ - [INFO] - Creating session...
2017-10-30 15:15:14,766 - __main__ - [INFO] - Session created, logged in successfully!
2017-10-30 15:15:14,768 - __main__ - [INFO] - Start grabbing eBook...
2017-10-30 15:15:15,022 - __main__ - [INFO] - Captcha detected. Trying to solve it using Anti-captcha.com.
2017

[2017-10-30 15:38] igbt6 commented on #80
HAve you updated the app to the newest version ?
Already mentioned at: https://github.com/igbt6/Packt-Publishing-Free-Learning/issues/79

[2017-11-03 13:22] woeterman94 commented on #80
Yes ,this fixed it indeed.

Thanks 👍

[2017-11-03 13:22] #80 closed

[2017-11-20 10:43] Naoray opened #86 "Exception occurred Some of the required values for successive user emulation are missing"
Just logged into my server and noticed the script couldn't claim an ebook since october 20th.

[code]

Does someone know how to solve this? Am I the only one facing this issue?

[2017-11-20 11:03] ad-m commented on #86
Yes, [duplicate](https://github.com/igbt6/Packt-Publishing-Free-Learning/issues?q=is%3Aissue+%22%27Some+of+the+required+values+for+successive%22+is%3Aclosed).

tl;dr: ```pip install python-anticaptcha -U```

[2017-11-29 19:40] #86 closed

[2017-11-30 10:34] Naoray opened #87 "Error: eBook: Book_Name has not been grabbed!, does this promo exist yet? visit the page and check!"
[code]

Did someone already faced this error?

EDIT: Ok, I guess the captcha did take too long to execute, so the script tried to grab an ebook at 00:01 where it already was replaced by a new one.

[2017-11-30 10:41] #87 closed

[2017-12-01 22:21] rsetkus opened #88 "[Error] - Exception occurred Incorrect file paths argument format"
[code]

Having this issue while executing the script with command `python packtPublishingFreeEbook.py -sgd`.

Anybody can help on this?

[2017-12-02 14:36] rsetkus commented on #88
This happens when a book is already grabbed. When the script was executed on non grabbed book, everything went just fine.

[2017-12-11 07:40] huczas opened #89 "Error no module named requests"
RaspberryPi3 -all upgraded, Python 3.6.0
When firedup from crontab I get this:
packtPublishingFreeEbook.log:
[code]

I maked venv for packtpub and installed inside venv all from file requirements.txt
[code]

[2017-12-15 20:30] ad-m commented on #89
Invalid python executable. Use in cron python executable from virtualenv.

[2017-12-16 16:02] huczas commented on #89
Thanks for that tip- works ok now.

[2017-12-16 16:02] #89 closed

[2017-12-18 04:31] ranrinc opened #90 "[ERROR] - Exception occurred eBook: Practical_Mobile_Forensics has not been grabbed!, does this promo exist yet? visit the page and check!"
This happen today, so to be sure I double check and manually have to download the books. Its seems that upon login packt is sending us to a different pages making the download fail.

[2017-12-18 15:00] VictorJ76 opened #91 "Ability to specify multiple download destinations"
Is there a way to download and store in multiple destination ?

[2017-12-18 15:10] ad-m commented on #91
What do you mean by "multiple download destination"? You can always run the program repeatedly with various configuration files.

[2017-12-18 15:25] VictorJ76 commented on #91
Yes but, will not that use the captcha bypass tool twice and provocaque and cause surcharges ?

[2017-12-19 03:43] ranrinc opened #92 "is there away to download books that have not being sync"
Is there away to download the books that already in my download list that have not being sync to my google drive? The reason because from time-to-time captcha fail and the books have to be downloa manually. So I left with a lots book unupdated to google drive.

[2017-12-19 06:51] ad-m commented on #92
I do not download books bypassing the script. In case of problems, I run the script again. The fee is charged for the correct captcha solution, so it does not cost extra. You can automate restarting for a while.

[2017-12-19 19:10] mjenczmyk commented on #91
Downloading does not use any capcha services, so if you don't grab at the same script execution you shouldn't be charged anyway. Is it your only concern?

[2017-12-19 19:17] mjenczmyk commented on #90
It failed for me that day also, there were some problems and the Packt website was down. Later when I checked the book was grabbed anyway, do you have this book in your collection?

Up to the 1st January there will be no free learning books (so don't worry if your script fails).

[2018-01-01 21:42] ad-m opened #93 "Free Learning is Temporarily Paused"
Free Learning is temporarily paused, so the script is useless. Luckily, [the publisher announces that the offer will soon return](https://www.packtpub.com/packt/offers/free-learning). I create this issue to notify each other when the service comes back.

Interested persons subscribe to issues if they want to get a notification, and how the offer will return to someone for comment.

Please, do not

[2018-01-19 12:42] Naoray commented on #93
Free Learning is up again!

[2018-01-19 13:16] #90 closed

[2018-01-20 11:44] ad-m commented on #93
The script works well!

[code]

[2018-01-29 21:32] mjenczmyk commented on #93
Can we close this issue?

[2018-01-29 21:55] ad-m commented on #93
Yes.

[2018-01-29 21:55] #93 closed

[2018-02-22 08:00] huczas opened #94 "Way to download all to google drive"
Hi, is there a way to download all ebooks to my google drive?

[2018-02-25 17:42] mjenczmyk commented on #94
Not at the moment. Shouldn't be very hard to implement though.

[2018-02-25 18:25] AlessioC opened #95 "Download list of all ebook on account"
Hi! There are some possibilities that you can implement a way to download a complete .txt list wit all e-books inside the logged account?

Thanks in advance

[2018-02-25 21:43] #94 closed

[2018-02-25 21:50] igbt6 commented on #95
No plan for such feature, but hey it's should be very easy and quick task, maybe try to do it yourself ?
I can always help : )

[2018-02-25 22:55] AlessioC commented on #95
I'm a novice with python but ok, I'll try! In case, I'll demand your help :P

[2018-02-26 09:44] AlessioC commented on #95
I did it! I added a few lines to _get_my_all_books_data
`def __get_my_all_books_data(self):
        """Gets data from all available ebooks"""
        logger.info("Getting data of all your books...")
        r = self.session.get(self.cfg.my_books_url, timeout=10)
        if r.status_code is not 200:
            message = "Cannot open {}, http GET status code != 200".format(self.cfg.my_books_url)

[2018-02-26 10:19] AlessioC commented on #95
I did it! I added a few lines to _get_my_all_books_data
[code]
it works with -dc argument

[2018-02-26 21:16] #95 closed

[2018-03-04 09:24] ranrinc opened #96 "Error downloading..."
Unsure what happen. However today the books have not being able to downloaded and the script stop functioning (not being able to find the books)

Double check and the books do available and doing it manually it go into my download list.

<img width="568" alt="screen shot 2018-03-04 at 4 22 18 pm" src="https://user-images.githubusercontent.com/15801696/36944133-844dc4ec-1fc8-11e8-9684-a4fae6a8fdce.

[2018-03-04 18:50] ad-m commented on #96
Fortunately, claiming works correctly.

[2018-03-14 07:57] RuthlessRuler opened #97 "Abbility to download the Info and Cover Of the Book"
I tried putting the argument of downloading the cover and info, but the script ignores it.
This is how my download data looks:

[DOWNLOAD_DATA]
download_folder_path: C:\Users\kunal\Downloads\Compressed\PAckt
download_formats: pdf, epub, mobi, cover, code, info
download_book_titles: Unity 4.x Game AI Programming , Multithreading in C# 5.0 Cookbook
ebook_extra_info_log_file_path: eBookMetadata.log

[2018-03-14 11:05] RuthlessRuler commented on #97
Also, the ability to download the Ebooks after one particular ebook will be Actually Really Helpful.
Like if i downloaded till 60th ebook from my account, then the ability to download from the 61th ebook will be great.

[2018-03-15 16:32] mjenczmyk commented on #97
There is no possibility to download cover or info right now - it's no surprise it doesn't work. Why did you expect that putting cover and info under download_formats key would work?

According to your second question - when you have some books downloaded the script will skip them in subsequent downloads as long as they are still there in download directory.

Does this help?

[2018-03-15 16:36] RuthlessRuler commented on #97
Well, one of the other scripts 8 was using had that features so I thought maybe this script too had that feature. But that script required 2.7.x and didn't work well with version I had installed.

Also, for the second question, I meant, what if I deleted the files previously downloaded but wanted to start from a particular book, is that possible nor maybe can you add that feature too.

[2018-03-15 16:43] mjenczmyk commented on #97
OK, I see. Out of curiosity - what was the script, can I see the code somewhere?

I cannot see the how the case of downloading from nth book should work, but I also could never understand how downloading books by name is useful. I was thinking about implementing downloading books grabbed between two given dates - would that cover your needs?

[2018-03-15 17:07] mjenczmyk commented on #96
Do we know how to reproduce that error? It seems the Packt website listing books just didn't note you have already grabbed the book, the issue could be closed IMO if @ranrinc does not mind.

[2018-03-15 17:10] mjenczmyk commented on #92
@ranrinc Does that help? Can the issue be closed?

[2018-03-15 17:19] RuthlessRuler commented on #97
The repository can be found here:- https://github.com/ozzieperez/packtpub-library-downloader

Also, since the program starts downloading books with the latest claimed as 1st, so why not sort of add some counter that will count the books from that point to the last book. So, if I downloaded till 60th book, moved/deleted them, and then I want to resume downloading from 61th book is a way I think thi

[2018-03-19 19:36] mjenczmyk opened #99 "Do we still need bat script when there is PowerShell?"
Is the bat script still needed? As for now all supported Windows systems allow useds to use PowerShell, so maybe this bat script is obsolete and may be removed? I'm assuming that script usage on Windows does not differ from usage on Debian (with the exception of cron tasks on Debian vs schtasks on Windows).

Sorry if I'm writing something that is false; I don't use Windows anymore - in that case c

[2018-03-19 20:42] igbt6 commented on #97
Too many possibilities = bigger mess and more work to keep it working, when page will change in future.
Such features you can implement on your own, what i do really recommend  :)

[2018-03-19 20:42] igbt6 commented on #96
Closed as not reproducible

[2018-03-19 20:42] #96 closed

[2018-03-19 20:44] igbt6 commented on #92
Workaround proposed

[2018-03-19 20:44] #92 closed

[2018-03-19 20:55] igbt6 commented on #99
Actually we can remove it ;), It was once done for my friend and it somehow still exist in the repo :)

[2018-03-19 20:59] mjenczmyk commented on #99
OK, I'll make a pull request than - do you happen to have access to machine with Windows? I'll remove the file and update `README.md` but I'll need to have it checked that my changes won't break anything.

[2018-03-19 21:00] igbt6 commented on #99
yup, i can test it, feel free to open a PR, thx!

[2018-03-19 21:01] mjenczmyk commented on #97
Interesting, I consider `-dc` option too specific as well and obsolete - it's easier for me to log into Packt account and download ebook manually than put ebook's name into config file.

[2018-03-19 21:04] igbt6 commented on #97
You're right, I don't think anyone is using it ;)

[2018-03-19 21:07] mjenczmyk commented on #97
Should I remove it? I don't wanna be too destructive, so let me know if I'm too eager ;)

[2018-03-19 21:40] RuthlessRuler commented on #97
Yeah, I don't think anyone will us that, they in the end will have to copy name of each titles, so most will directly download it.

Also, please do implement -dr(download range) I future.

[2018-03-19 22:12] mjenczmyk commented on #97
https://github.com/igbt6/Packt-Publishing-Free-Learning/pull/101

[2018-03-19 22:13] mjenczmyk commented on #99
https://github.com/igbt6/Packt-Publishing-Free-Learning/pull/100

[2018-03-24 12:57] mjenczmyk commented on #88
@igbt6 Can we close this issue?

[2018-04-25 09:05] rsetkus commented on #88
@mjenczmyk I think we can close this ticket. Script works as expected since then I am not downloading books manually.

[2018-04-25 09:05] #88 closed

[2018-05-04 06:36] eharris opened #103 "Need an option to just download today's book"
There's a -g to grab today's book, and -gd to grab and download it.  Where is the -d to just download it?  Or alternatively a -dt option (download this, a book specified on the command line, rather than having to edit/munge the config file)?  Or even another alternative, make -gd smart enough not to try to grab the book again if it's already on your account, and just download it.

I don't use (or

[2018-06-24 10:43] ranrinc opened #104 "New layout or book? Failed to download"
Today books is different and the script fail to download.. hope only one books.

[2018-07-29 19:26] Tokariew opened #105 "Problem with downloading all ebooks."
It looks like packt, added page layout in my ebooks page. Because of it, script runned with -da option download only first subpage -- 10 ebooks.

[2018-07-30 14:15] mjenczmyk commented on #105
Yes, the list of user's books is being paginated now. I'll try to make a pull request to make the script work again (although I'll appreciate that if somebody will be faster than me).

[2018-07-30 14:16] mjenczmyk commented on #104
Should we close that issue?

[2018-07-30 14:17] mjenczmyk commented on #97
Should we close that issue?

[2018-07-30 18:27] #97 closed

[2018-07-31 23:34] #104 closed

[2018-08-01 22:43] mjenczmyk commented on #105
https://github.com/igbt6/Packt-Publishing-Free-Learning/pull/108/

[2018-08-08 11:36] mysiar opened #109 "can't connect to packtpub"
[code]

[2018-08-14 03:44] ad-m commented on #109
It looks like a network disruption on your side. It does not record this kind of problem in your instance. Please note that cron can execute the program, send an e-mail notification, and the mail server will queue the message and deliver it when the network connection returns.

[2018-08-18 05:26] ranrinc opened #110 "Two weeks without any new books"
I have this problem with the script not downloading any books. Got error as attached.
Help?
<img width="551" alt="screen shot 2018-08-18 at 11 58 45 am" src="https://user-images.githubusercontent.com/15801696/44296099-c4ece180-a2e1-11e8-9551-5065d7e2cad7.png">

[2018-08-18 07:30] mjenczmyk commented on #110
What command did you ran to get this output?

[2018-08-18 07:33] mjenczmyk commented on #109
Yeah, it's probably just a random timeout. Can we close this issue @mysiar, or maybe this problem occurs regulary?

[2018-08-18 16:43] InfoSecured commented on #110
I'm having the same exact issue. I'm running a bat file to execute the python script on Windows. Nothing has changed with the script for the past several months.

[2018-08-20 17:44] mjenczmyk commented on #110
Do both of you have the newest version of the script?

@InfoSecured Do you use unmodified bat file from the repository? Do you run it manually or via schtasks?

@ranrinc How do you run this script? Manually or via cron/schtasks? What exact command do you run?

[2018-08-20 23:19] #105 closed, assigned to nobody

[2018-08-21 01:11] InfoSecured commented on #110
I'm using your script via schtasks and the only line I modified is line 11
to say 'python packtPublishingFreeEbook.py -*s*gd' instead of 'python
packtPublishingFreeEbook.py -gd'

Jason S. Lazerus, M.S., GCFA, GPEN, GCIH, GCFE, GCED, GSEC

On Mon, Aug 20, 2018 at 1:44 PM, mjenczmyk <notifications@github.com> wrote:

[2018-08-26 18:47] mjenczmyk commented on #110
I have an idea what could be the reason of this issue. Recently list of all user's ebooks in Packt account became paginated, if the ebook grabbed the day the script failed (as both of you reported) had already been in your account the script may have tried to download that day free learning ebook, but it wasn't on the first pagination page and the script couldn't find that ebook in your account -

[2018-08-26 19:04] mjenczmyk commented on #110
BTW, could you take a look at #100 @InfoSecured? I'd like to finish this, but neither me, nor @igbt6 can verify if that works (and potentially fix this pull request), as we don't have access to machine with Windows. I'd really appreciate help with this pull request.

[2018-08-26 19:47] InfoSecured commented on #110
It appears that this worked!

*** Grabbing free eBook from Packt Publishing.... ***
[INFO] - Creating session...
[INFO] - Session created, logged in successfully!
[INFO] - Start grabbing eBook...
[INFO] - Captcha detected. Trying to solve it using anti-captcha.com.
[INFO] - TaskId created: 252702383
[INFO] - Waiting for completion of the task: 252702383...
[SUCCESS] - Solution found for task: 2527

[2018-09-02 12:16] mjenczmyk commented on #110
@igbt6 Should we assume that the issue is resolved and can be closed?

[2018-09-03 08:53] igbt6 commented on #110
yep, i think so :) Closed! btw @mjenczmyk  - thanks for taking care of the repo and contribs ! I have to assign you as an admin of it :D !

[2018-09-03 08:53] #110 closed

[2018-09-04 20:29] mjenczmyk opened #112 "Specify script's licence"
Should we specify which licence does the script use? We could use some open source licence.

I would go for GPL 3.0 licence (as it's free), but a more permissive and non-infectious licence should also be fine (i.e. MIT licence).

[2018-11-18 11:41] SR-G opened #115 ""'NoneType' object has no attribute 'attrs'" error when activating some books"
I have from time to time this error :

[code]

Logs :
[code]

In the packt website > account > My Ebooks >the corresponding book seems to be correctly grabbed this day.

[2018-11-18 19:37] mjenczmyk commented on #115
Thanks for submitting this error! Personally I don't use `-l` parameter so I've never seen this (the script lacks testing though).

OK, I see - it succeeded in grabbing the ebook, but failed on fetching ebook's data. It couldn't find URL for downloading code files, because there are none, so there is no `<a>` inside button (which is disabled). Did it happen with "Mastering Windows PowerShell Scrip

[2018-11-18 23:39] SR-G commented on #115
I'm only using it since ten days. It has failed two times :
- 18/11/2018 "Mastering Windows PowerShell Scripting"
- 08/11/2018 "Understanding software"
Indeed it seems both of these books don't have any code attached to them.

[2018-11-19 19:51] mjenczmyk commented on #115
OK, the problem is that script tries to find code files URL even if it doesn't exist. Do you want to make a pull request or should I?

[2018-11-20 08:38] paradonym opened #116 "ModuleNotFoundError: No module named 'bs4' on -gdl"
Followed README.md setup until usage part:
it's all in a subdir with python 3.7.1 embeddable zip included... Should I always use an installed zip instead of an embedded one?

Full installation:

[code]

[2018-11-20 19:44] mjenczmyk commented on #115
https://github.com/igbt6/Packt-Publishing-Free-Learning/pull/117

Here is a fix for this issue.

[2018-11-20 20:22] mjenczmyk commented on #116
I can see several issues here. I may be more or less right here as I don't use Windows regularly and certainly not for development.

1) You are installing `virtualenv`, but you don't create any virtualenv to install packages to (but that isn't a reason of this errors).
2) Could you run `Get-Command pip` and post the output here?
3) There will be some issues with Python 3.7 until https://github.com

[2018-11-21 07:49] paradonym commented on #116
[code]

It seems that bs4 is dependend on the Python version and there seem to be different pip packages for python2 and 3 https://stackoverflow.com/questions/11783875/importerror-no-module-named-bs4-beautifulsoup...
[code]
but it seems that the python3 version of bs4 is installed.
I'll try to downgrade installed python to 3.6.x It seems that a reboot is necessary for this, so I'll try to stick to

[2018-11-21 16:58] mjenczmyk commented on #116
I'm using the script with Python 3.5, I've also checked that it works for me with Python 3.7 on Debian (installed from source). I suppose you are installing dependencies via `pip` into different Python installation than you run the script.

Your `pip` seems to be installed in `C:\Python37` (which suggests installing packages for Python 3.7), but the Python version you run the script with seems to

[2018-12-02 21:04] igbt6 commented on #115
Fixed at #117

[2018-12-02 21:04] #115 closed

[2018-12-02 21:08] igbt6 commented on #112
Added at: f9761f0

[2018-12-02 21:08] #112 closed

[2018-12-02 21:09] #116 closed

[2018-12-02 21:17] mjenczmyk commented on #112
Thanks!

[2018-12-02 22:08] mjenczmyk opened #118 "Drop support for Python 2.7.x"
Hi,

support for Python 2 had to be dropped in 2015, but its end of life was postponed five years and it won't be supported since 2020. There are more and more packages dropping support for Python 2 nowdays, maybe we could also support only Python 3.x versions?

I could make a pull request removing support for Python 2.

[2018-12-02 22:14] igbt6 commented on #118
Yep, good idea :)

[2018-12-19 09:33] StinThiago opened #119 "Unable to retrieve or download books"
Hi, I'm unable to download books again. Particularly speaking I think that packet has changed the way that is requested follow my errors.

![image](https://user-images.githubusercontent.com/17601585/50211585-509e7980-0379-11e9-943c-9965cb276b68.png)

![image](https://user-images.githubusercontent.com/17601585/50211668-77f54680-0379-11e9-858d-8a42f5b9e201.png)

[2018-12-19 11:17] greggmarshall commented on #119
Looks like you get further than I do:
`
python packtPublishingFreeEbook.py -da
[INFO] - Creating session...
[INFO] - Session created, logged in successfully!
[INFO] - Getting data of all your books...
[INFO] - Opened 'https://www.packtpub.com/account/my-ebooks' successfully!
[ERROR] - Exception occurred 'NoneType' object has no attribute 'find_all'
`

[2018-12-19 12:31] mjenczmyk commented on #119
It's because Packtpub has changed how their website works. They not only have changed the layout, but now they are also using JSON API with JWT (which seems to be an advantage as we can receive JSON from their API instead of parsing HTML as we did).

The different error output from your posts is because you use different script options.

I'm working on fixing the script so that it will work with n

[2018-12-19 14:53] greggmarshall commented on #119
Thanks.  Sounds like the new approach will be even better.

[2018-12-19 15:52] mjenczmyk commented on #119
Downloading books should already work on my `setup` branch (see this pull request). The code is still ugly and requires adding error handling.

For further fixes we'll have to wait till Pack website will be fully operational.

[2018-12-22 10:01] torkelsson commented on #119
@AghilasMessara A few times per year Packt are temporarily disabling free books of the day, especially around Christmas.

As quoted from their page:

"FREE LEARNING IS TAKING A SHORT BREAK - CHECK OUT OUR BRILLIANT $5 SALE BESTSELLERS INSTEAD:"

[2018-12-27 16:06] develsites commented on #119
Hi

How to fix this issue `Command "git checkout -q setup" failed with error code 1 in /tmp/pip-req-build-FDw4322`

Thank you

[code]

[2019-01-07 11:18] nevzat commented on #119
It seems Packt have changed all it's website structure again, and the script can't download the e-books anymore. I even noticed the e-book page url has changed from "/my-ebooks" to "/products". I think it requires a lot of efforts for this script to work again :(

[2019-01-07 11:41] luk6xff commented on #119
Let's wait till they finish an update of the page, After that we can start making some adaptation changes of the script

[2019-01-10 14:02] gjchester commented on #119
Hi,
Monday (8th Jan) all my books vanished form the Products page, but today they are back on the https://account.packtpub.com/account/products page.

Not sure if they have finished the redesign or not.

[2019-01-28 23:36] mjenczmyk commented on #119
The offer seems to be over. I've updated the pull request, seems to be working, but I'll need to test it one more time tomorrow or this week.

Of course you can also verify if that works for you, the more of you will do it, the smaller the chance that something will be broken.

Linters are failing on #111, I'll fix them tomorrow.

[2019-01-29 15:50] mjenczmyk commented on #119
It's my `setup` branch, it's in #111 pull request. I keep my `master` branch the same as @luk6xff `master`.

[2019-01-31 07:33] gjchester commented on #119
Tried swapping out the main script with no luck, maybe missing some dependancy,  I get the error
2019-01-31 07:17:01,888 - __main__ - [ERROR] - Exception occurred argument of type 'NoneType' is not iterable
I have it on Windows at the moment, I intend to move it to a Ubuntu VM that's always on I was just being lazy and using my main PC first, Will see if re-installing it from your fork works bette

[2019-01-31 08:02] mjenczmyk commented on #119
Did you install it (either into your Python installation or better into virtualenv) with `pip install git+https://github.com/mjenczmyk/Packt-Publishing-Free-Learning.git@setup`. Did you run the script the traditional way or with `packt-cli` command?

[2019-01-31 10:17] gjchester commented on #119
I get about 20 minutes in the morning over breakfast as I check email.  I simply cloned your script over the top of the Luk6xff one and it failed.

I'll build a fresh VM and try this weekend.

[2019-01-31 11:46] mjenczmyk commented on #119
OK, I'll write once again how to test my changes (it's described partially in `README.md` on `setup` [branch](https://github.com/mjenczmyk/Packt-Publishing-Free-Learning/tree/setup) and in #111 pull request).

1. Create new virtualenv  for testing those changes (this step is optional, but you don't want to pollute your global Python installation packages), enter this new virtualenv.
2. Install scr

[2019-01-31 20:53] gjchester commented on #119
built a fresh Ubuntu 18 minimal install VM, installed Pip and Git and ran the setup.  Looks like its failing calling console_scripts on line 11.   This may be as its a new build something is missing

[2019-01-31 21:18] laurentlemercier commented on #119
@mjenczmyk : read your README more accurately.. You are right, I was using the old way to install the package.
But are you sure about : pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@master
or shall we use : pip install git+https://github.com/**mjenczmyk**/Packt-Publishing-Free-Learning.git@**setup**
Thanks in advance, regards
Laurent

[2019-02-01 12:31] AghilasMessara commented on #119
@laurentlemercier I don't think the offer is really back yet. I get the 24h timer but there is no book to download.

[2019-02-01 19:13] gjchester commented on #119
@AghilasMessara  Its back on I've claimed books for the last three days, I does not work on IE for me but I tend to use my Phone to claim them on my commune.

[2019-02-03 11:51] laurentlemercier commented on #119
Hello,
It works like a charm using python3, thanks a lot @mjenczmyk ! Using python2, it throws an error : "from urllib.parse import urljoin ImportError: No module named parse"

For those it may concern, this my "recipe" for installing this version, using virtualenvwrapper (pip install virtualenvwrapper + edit of the ~/.profile )

- mkproject -p /usr/bin/python3 PPFL3

- pip install git+https://git

[2019-02-03 12:14] gjchester commented on #119
I’m using Python27.  I’ll shift to Python 3 and try that.

[2019-02-04 21:00] gjchester commented on #119
I've started with theVM but I get the "No module named parse" with my Python3 Install.   I think the python 2.7 is still hanging around.   Going to wipe the VM and start again...

Given up on Windows, I'm a window person but getting python and PIP to work seem beyond me....

[2019-02-05 07:52] gjchester commented on #119
its a freshly built Ubuntu 18.04.  Part of the issue may be its newly built, in that something people install on each new box when they build it and they then forget installing it  may be missing.,

Cant do it all this morning (not enough time) But I've got my Fresh ubuntu 18.04 box.

Python is 3.6.7.

Used sudo apt install python3-pip to bring in pip.
Pip is reporting as Pip (9.0.1) from /usr/lib

[2019-02-05 15:50] mjenczmyk commented on #119
I would like to try to merge it anywhere soon. Let's decide what's left to be done.

1. Can we agree it works on Linux on Python 3 (both running manually and cron setup on Debian related distributions)?
2. Shall I fix this so the script will work on Python 2? We want to drop support for Python2 soon anyway.
3. Have we checked the script on Windows? @sigino says it works on Windows, did you try sch

[2019-02-05 17:44] sigino commented on #119
Do the following :)
Copy your configFile.cfg into your folder ~. Then
[code]

[2019-02-05 18:05] sigino commented on #119
Yes it works for me at least.

I wouldn't think so. It is a maintenance burden to continue supporting both 2 and 3 when everyone *should* be switching to Python 3 IMHO.

On Windows, I have only tried to launch it manually and it works. But, I am also wondering if it is installed into a virtual env, it does not mention in the README or the script that the env will need to be activated (I think). Pe

[2019-02-06 07:41] gjchester commented on #119
All working not on Ubuntu 18 under Python3 thanks to Sigino.  My virtualenvwrapper.sh was in a different place but that was an easy fix..
Mails not sending but I can probably fix that easy enough (probably password or email account setup details) and I want to get auto upload to google in place but its one step at a time...

I'd suggest Python 2 is dropped too, its almost retired and part of my se

[2019-02-06 08:44] mjenczmyk commented on #119
@luk6xff Are we ready to go? Can I merge the pull request as `master` is broken and this code seems to fix this?

[2019-02-06 21:56] gjchester commented on #119
Still cannot get the Email working, how is it sending, POP3 /IMAP etc? nor I cant get the Google docs upload working either (complains about a folder error, but it created the PACKT_BOOKS folder OK when it asked for permissions) , but then I realised I have about 630 books on my account and not enough Google space anyway...

I've got a chunk downloaded but then I got a Invalid URL message.

[ERROR

[2019-02-06 22:08] sigino commented on #119
I have not tried the emailing or google drive uploading, nor have seen the timeout. But I would suggest even they are broken, let's still let the guys to get it merged. If they are broken, very likely they are not broken by this change, and the purpose of this change is to fix the core functionality. Leave them as untested features or known issues if needed.

[2019-02-06 22:31] luk6xff commented on #119
@mjenczmyk  yeah, feel free to merge, tested also nhere, looks ok, good job :) !

[2019-02-06 23:30] mjenczmyk commented on #118
Resolved in #111.

[2019-02-06 23:31] #118 closed

[2019-02-06 23:32] mjenczmyk commented on #99
Made obsolete by #111.

[2019-02-06 23:32] #99 closed

[2019-02-06 23:40] mjenczmyk commented on #119
@gjchester I'm using virtualenvwrapper, and such entry in crontab works for me: `30 2 * * * ~/.virtualenvs/packt/bin/packt-cli -c ~/.packt/config.cfg -g`. If you have it in your global Python installation than I suppose you could simplify your entry to `0 12 * * * packt-cli -gd -f -c /home/packt-download/Packt_books/configFile.cfg > /home/packt-download/packtPublishingFreeEbook.log 2>&1`

[2019-02-06 23:59] mjenczmyk opened #120 "Have a Packt API client allowing to fetch a fresh JWT on 401 response"
During long script runs (over one hour, such as downloading all user's ebooks) it may happen that the JWT expires, so that the following API queries result in 401 response status code. Having an API client class keeping JWT inside and retrying the query once (with a new JWT) on 401 response status code would prevent this from happening.

[2019-02-07 07:15] gjchester commented on #119
@Sigino : Absolutely merge them, this fixes the script 95%, The timeout was more a FYI, its only going to be a few people who see the issue due to number of books, or slow connection but I see @mjenczmyk is on it already.  After all once they've all downloaded the first time its only an add on of one book, not a monster download again.
I know my ISP will reject email if the sender of the email is

[2019-02-08 07:06] laurentlemercier commented on #119
My configuration, if it can help anyone : Python 3.4.2 & virtualenv 16.0.0.0 on raspberry pi3 & raspbian jessie.
It works using commandline or crontab :
5 6 * * * cd /home/pi/pyprojects/PPFL3 && /home/pi/.virtualenvs/PPFL3/bin/packt-cli -sgd -sm >> /home/pi/packt/packtPublishingFreeEbook.log 2>&1
 @luk6xff and @mjenczmyk : thanks a lot for your work !

[2019-02-08 11:11] mjenczmyk commented on #119
No problem, thank you @laurentlemercier, @gjchester and @sigino for help!

[2019-02-08 12:35] mjenczmyk commented on #119
Wow, that's interesting. Even if books obtained by Packt Free Learning offer cannot be downloaded via their website they can be still downloaded using our script via their API :joy:

[2019-02-08 12:44] gjchester commented on #119
Only for my latest ones If you go a page they are downloadable as epub/pdf/mobi etc.  Or at least are for me....

[2019-02-08 13:12] sigino commented on #119
Directly from the website, I think you can download the old ones and they are still downloadable, but no the ones claimed this year.

[2019-02-08 13:49] greggmarshall commented on #119
I asked about new Free Learning books not being downloadable and their response was:

Please accept our apologies for the inconvenience caused to you in this matter.
We would like to inform you that we have made few changes on the Packt website as all the free learning eBooks will only be available to view online/reader.
We would like to inform you that the free learning books will be available in

[2019-02-08 14:08] greggmarshall commented on #119
That being said, I just ran the updated script (thanks for everyone who got it fixed) to download all my books, and I got the various formats for my newly claimed Free Learning ebooks.  Who knows if they will figure out the issue and block it.

[2019-02-21 14:31] mjenczmyk commented on #120
#121 should fix the problem.

[2019-02-21 14:58] mjenczmyk commented on #119
I'll close the issue, JWT expiration is being in #120 issue, if we notice any more problems we can make a new issue to resolve them.

[2019-02-21 14:58] #119 closed

[2019-02-22 08:52] StinThiago opened #122 "too many values to unpack (expected 1)"
Hi All! Today I got this issue. Does anyone have any idea of what is causing this?
Follow print!
Many thanks in advance.

![image](https://user-images.githubusercontent.com/17601585/53230560-3fc6f880-3687-11e9-8cc2-c54e4e38bf86.png)

[2019-02-22 10:32] mjenczmyk commented on #122
It's because according to Packt's API there are not one, but two Packt Free Learning offers (you can see that in developer's console when opening Free Learning website). I'll modify the script to grab all available offers and add it to #121 pull request.

[2019-02-23 23:20] develsites commented on #122
@mjenczmyk I've cloned your changes but I have a new issue `ImportError: No module named 'api'`

<img width="1289" alt="screen shot 2019-02-24 at 07 14 27" src="https://user-images.githubusercontent.com/2625408/53292826-9d348400-3804-11e9-8ea0-7ea644b25588.png">

[2019-02-25 22:37] #120 closed

[2019-02-26 07:55] mjenczmyk commented on #122
@develsites I'm sorry, I messed it up - thanks for noticing. For now install it using `pip install git+https://github.com/mjenczmyk/Packt-Publishing-Free-Learning.git@api-fix` command, I'll make a pull request in the evening.

The main problem from the issue seems to be temporarily resolved as now there is only on Packt Free Learning Book, we may choose to assume that such problem will or won't ha

[2019-02-26 08:54] develsites commented on #122
@mjenczmyk thank you for fixing but I have another one problem after uploading files `[ERROR] - Exception occurred Incorrect file paths argument format`

<img width="1351" alt="screen shot 2019-02-26 at 16 51 56" src="https://user-images.githubusercontent.com/2625408/53399519-20153480-39e7-11e9-9caf-de0a536ec806.png">

[2019-02-26 20:00] mjenczmyk opened #123 "Do not parse Packt website to obtain Google sitekey"
I've found a faster way to provide a solution to Google ReCaptcha on Packt website, it's described [here](https://anti-captcha.com/clients/help/fastrecaptcha) As Google's sitekey does not change we don't need to open Packt Free Learning website, parse it to obtain sitekey and then create Anti-Captcha task, instead we could have sitekey saved somewhere and create the task without parsing website, w

[2019-02-26 20:39] mjenczmyk commented on #122
@develsites Thanks, you found another problem - it happens if you try to upload to GoogleDrive. I'll take care of it as soon as I'll find the time (I cannot promise anything before next Tuesday).

[2019-02-26 20:57] awegmann opened #125 "If a download is interrupted, unfinished files will prevent a new download"
Problem:
---

If you interrupt the application while downloading files (for example with CTRL-C), the unfinished downloads will stay in the destination directory. If you start the download again, the script will find a file with the expected name, but can not recognize, that this is not a fully downloaded ebook or code file.

Solution:
---

Start the download with a temporary file and after the fi

[2019-02-26 21:11] mjenczmyk commented on #123
There is a proposed pull request, see #127.

[2019-02-27 20:15] SR-G opened #128 "ImportError: No module named 'api'"
On a fresh install with python 3.5.3 and by doing a `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@master`, i then get the following error when starting `packt-cli` :

[code]

[code]

Any idea ?

[2019-02-27 22:45] mjenczmyk commented on #128
What is the output of `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@master` command?

I suppose that it recognises the same version `1.0.0` and does not see the need to install it again - we can consider semantic versioning here (I was going to propose it anyway).

You may try to uninstall the package and install it again (`pip uninstall packt && pip install git+ht

[2019-02-27 22:52] SR-G commented on #128
The output of another "pip install" command was (and indeed nothing new was installed again) :

[code]
Indeed after uninstall and reinstall, it works.
As you have guessed, problem is probably indeed about the 1.0.0 version being already installed.

[2019-02-28 06:13] develsites commented on #122
@mjenczmyk Thank you :)

What's about this?

`[INFO] - There is no books with provided titles: ['Fundamentals of Malware Analysis [Video]'] at your account!`

<img width="1680" alt="screen shot 2019-02-28 at 14 12 23" src="https://user-images.githubusercontent.com/2625408/53545009-f84adb80-3b62-11e9-87d5-1b90e3837d49.png">

[2019-02-28 19:37] mjenczmyk commented on #128
@luk6xff I've released two versions, first one on my commit fixing the script after Packt changed their website behaviour, the second on later fixes so the problem @SR-G encountered won't happen again if only we'll remember about frequent enough releases.

We could also think about uploading this script on PyPi so users will be able to install it running `pip install packt` instead of installing i

[2019-02-28 19:37] #128 closed

[2019-03-03 09:46] ranrinc opened #130 "how to install"
Hi there,

would like to know how to install this new changes. Its seems I got error upon calling the packt-cli and unsure what to do. Previously I can easily install your script without any problem.

Following the new version without any luck.. anyone have step-by-step? Installing on ubuntu
also do I try to git clone and got no luck either. Any help will be gladly appreciated

<img width="567" al

[2019-03-03 10:00] laurentlemercier commented on #122
Hello @mjenczmyk
Exception raised line 334 : google_drive.send_files(paths). Looks like the file paths are not correct.
I was wondering if the statements from line 317 to 322
ebook.download_books(api_client, into_folder=into_folder)
should be changed to something like :
ebook.download_books(api_client, into_folder=cfg.download_folder_path)
Hope this helps, regards
Laurent

[2019-03-03 16:28] luk6xff commented on #130
Have you tested with python version > = 3.4 ?

[2019-03-03 18:48] luk6xff commented on #122
@develsites  @laurentlemercier I fixed the problem at 10ee7186d1c23e15b3eab1197eed8cd4b0d29fef
Please take a look, in case of any problems please open another ticket. I am closing this one.

[2019-03-03 18:48] #122 closed

[2019-03-04 02:52] ranrinc commented on #130
@luk6xff thanks for the support. I check my ubuntu and its install both version. However its run on python 2. Is there a document to switch into python3 instead of python? Thanks

[2019-03-04 10:33] luk6xff commented on #130
@ranrinc  I reccomend using https://docs.python-guide.org/dev/virtualenvs/#lower-level-virtualenv
or just python3

[2019-03-05 02:12] ranrinc commented on #130
@luk6xff Hi there again thanks for the help, so I manage to have virtualenvs run and packt-cli is now asking for config. Should I clone the project first? Where should I put my conf files? Sorry not good with python

[2019-03-06 13:06] mjenczmyk commented on #130
OK, so first of all you don't need to clone anything - you just create a new virtualenv and install the script via `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@master`.

It doesn't matter where do you put configuration file as long as you pass the path to it to `-c` parameter. Alternatively you can put it inside working directory - that way you won't have to pass

[2019-03-06 13:06] mjenczmyk commented on #122
Thanks, I'll release a new patch version.

[2019-03-06 14:14] luk6xff commented on #130
"It doesn't matter where do you put configuration file as long as you pass the path to it to -c parameter. Alternatively you can put it inside working directory - that way you won't have to pass it." - @mjenczmyk  - I think it would be good to write it down n the readme.  Because now it's not stated anywhere

[2019-03-06 15:27] ranrinc commented on #130
@mjenczmyk @luk6xff
I finally have it working again... wink wink...
So how can I help edit the readme files?

Anyway here is what I did on fresh install ubuntu 16.04
`apt install python-pip`
`git clone https://github.com/luk6xff/Packt-Publishing-Free-Learning.git`
`pip install virtualenv`
`cd to_my_clone_dir`
`virtualenv venv`
`virtualenv -p /usr/bin/python3 venv`
`source venv/bin/activate`
`pip i

[2019-03-06 16:17] mjenczmyk commented on #130
I'm not sure what should be added. The `-c` parameter is documented in README (as all parameters are, there is also a default value given). Also there is nothing about cloning as running `pip install ...` is said to be sufficient... What would you propose to add?

@ranrinc Is cloning step necessary in that list of commands? I can't see where are those cloned files used. Maybe you could (as somebod

[2019-03-08 14:36] ranrinc opened #135 "Fail to grab a books"
Hi there,

Its seems that the script failed to grab a books even though its say complete.
So its failed to find the books that suppose to be grab already.

Upon manually grab and run the script again its found the right books and download..

Maybe Packt change the HTML again?

<img width="651" alt="error" src="https://user-images.githubusercontent.com/15801696/54034812-69853100-41ea-11e9-8597-b109

[2019-03-09 04:30] ranrinc commented on #135
I test it again today and confirm that the current scrip unable to grab the new books. Its saya getting you book data and upon successfully fetched its fail to do it so it end up with not founding the current books.

[2019-03-10 10:38] stashme commented on #135
I had this problem too - seems there is a delay at Packt between claiming an ebook and the availability to download it.
I applied a quick'n'dirty fix by adding a time.sleep before "ebook.download_books" in packtPublishingFreeEbook.py, but there might be a better way to deal with this.

[2019-03-11 09:04] mjenczmyk commented on #135
I've never encountered this problem after script modification in January (I've a cron job set up to run everyday). If you say it happens to you we can pass `product_id` (an ID of the claimed) product directly to `download_books` instead of `titles` parameter, we will see whether it helps and it's more elegant solution anyway. I'll make a pull request.

Does the problem you're describing happens of

[2019-03-11 09:30] ranrinc commented on #135
@mjenczmyk I my ubuntu it fail to retrieve the book every time. No luck so far. The only way to grab the books is manually and then run the scripts, then it will be able to found the book and download. So would like to get some assistant on this issue

[2019-03-12 08:46] mjenczmyk commented on #135
Try installing the script using `pip install git+https://github.com/mjenczmyk/Packt-Publishing-Free-Learning.git@id`. If that won't help what is the output of `pip freeze` from the virtualenv? What is the version you're using currently?

[2019-03-12 08:53] greggmarshall opened #137 "Download videos also?"
Now that the free learning is including videos, it would be really nice if the script could download the videos, especially since it appears the API is the only way to access free learning assets other than on-line.

Would this be hard to add?

[2019-03-12 20:31] mjenczmyk commented on #137
Should be easy. Try installing script via `pip install git+https://github.com/mjenczmyk/Packt-Publishing-Free-Learning.git@id` and add `video` file type to your config file, see if that works as expected.

[2019-03-16 13:49] greggmarshall commented on #137
You are right it was easy to add the video format and have it downloaded.  Still running but I wonder what a .video file format actually is?

[2019-03-16 19:00] mjenczmyk commented on #137
That's right - it's a zip file. You can see it in line 201 in modified file. Does it work for you?

[2019-03-16 20:51] greggmarshall commented on #137
Like a champ.  I can also confirm you have resolved the timeout issue completely.  It has been running about 5 or 6 hours, it's picking up a number of videos I bought during one of the $5 sales....

[2019-03-16 20:51] #137 closed

[2019-03-17 07:03] mjenczmyk commented on #137
Glad I could help ;) I've already merged it so you can install the script using the usual command `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@master --upgrade` - there is also a pull request in case we decide we want the package on PyPi to simplify the command further.

[2019-03-17 07:05] mjenczmyk commented on #135
I've merged the pull request (it won't break anything, but it may not have resolved your problem).

[2019-03-18 02:20] ranrinc opened #138 "Packt Video"
Its seems that Packt is now release video, can we download this too?

[2019-03-18 07:32] mjenczmyk commented on #138
Yup, look at the latest (yesterday's) release.

[2019-03-18 07:35] mjenczmyk commented on #123
I've merged the pull request.

[2019-03-18 07:35] #123 closed

[2019-03-18 11:21] AlessioC commented on #138
I'm not sure wether you have already fixed it in the last couple hours, but yesterday I saw that when I included a video_tag in download_formats, the script first downloaded the code as "name_of_book_video.zip" and subsequently the videos folder with the same file name, thus making the video download fail

[2019-03-18 13:37] ranrinc commented on #138
Is there away for me to download previous miss download?

[2019-03-20 23:09] dennisdenk opened #139 "packt-cli always downloads to the same location as the first time, also ignores symlinks"
![grafik](https://user-images.githubusercontent.com/19978270/54724957-8c5e0080-4b6d-11e9-8a1a-4847c9e19c40.png)

[2019-03-21 15:33] mjenczmyk commented on #139
It's because `-f` parameter is a boolean flag - its value decides whether different formats of the same ebook should be downloaded to separate directory inside download directory or directly to download directory.

What you're looking for is the possibility to change download directory - you can do this in the configuration file (which probably isn't the most intuitive place), I'd prefer to have i

[2019-03-21 15:35] mjenczmyk commented on #135
Any news, did it help (I don't think it should've helped)?

[2019-03-21 16:27] mjenczmyk commented on #138
You're right, there are conflicting file names. What I'd do is to skip downloading code files for videos as they are already in the package with the video. Does it seem reasonable to you or maybe you have another idea how to solve this problem?

@ranrinc Just remove code files and download and run download again with proposed fix installed (you can install it with `pip install git+https://github.c

[2019-03-21 17:40] mjenczmyk opened #142 "Create unique products list when fetching all products list"
The list of all user's products may contain duplicates (as different day's  Free Learning ebooks are treated as different items with the same product ID). That causes skipped downloads - we could avoid this misleading situation by creating list with unique product IDs.

[2019-03-22 04:07] ranrinc commented on #138
@mjenczmyk alright.. I got this part and yes its now function correctly. Thanks

[2019-03-22 07:52] mjenczmyk commented on #138
Should we merge? Is this the fix you would expect? What do you think @ranrinc @AlessioC?

[2019-03-22 08:44] ranrinc commented on #138
@mjenczmyk I have no objection on merging this..

[2019-03-22 11:19] AlessioC commented on #138
@mjenczmyk Another possibility could be to force the video and code download separately (therefore not together) but I don't know if is possible. Otherwise yes, I think that your fix is a good loophole. :)

[2019-03-24 10:06] SR-G opened #143 "Op "-da -f" not working anymore"
It was working fine before around 2019/02/27 (i would say) but not anymore.
I'm willing to download all ebooks, and to have a subfolder created for each book.

The `-da -f` seemed fine for that and was working fine, but nowadays i get :

[code]

(whereas `-f`` should not require any argument, i would say)

I have (re)installed packt-cli with `pip install packt --upgrade` today, same behavior.

[2019-03-24 17:22] #138 closed

[2019-03-24 17:40] mjenczmyk commented on #143
`pip install git+https://github.com/mjenczmyk/Packt-Publishing-Free-Learning.git@f --upgrade` Does it help?

[2019-03-24 18:52] SR-G commented on #143
Indeed, i can confirm this one is working.

[code]

[2019-03-24 19:16] #143 closed

[2019-03-24 19:24] #139 closed

[2019-03-24 20:34] dennisdenk opened #145 "packt-cli --help shows, that -f needs a parameter, but doesn't seem to have a meaning"
![grafik](https://user-images.githubusercontent.com/19978270/54885442-5924b580-4e7c-11e9-8816-20c008f200ee.png)
packt-cli --help shows, that -f needs a parameter, but doesn't seem to have a meaning

[2019-03-24 21:17] mjenczmyk commented on #145
It has been fixed in version 1.2.2, but thanks for noticing ;)

[2019-03-25 08:23] stashme commented on #135
I have dropped my local patch "time.sleep(60)" and checked out master (7c0b264), unfortunately it did not work:

Any idea? Thanks.

[2019-03-25 17:00] mjenczmyk commented on #135
Did you ran `pip install -e '.[dev]'` after checking out? What command did you ran in the command line?

[2019-03-26 11:33] Mte90 opened #146 "SyntaxError: invalid syntax with python2"
[code]

THe readme suggest `pip` but this in Debian means that will use python2, install with `pip3` use python3 and now works.

[2019-03-26 11:38] Mte90 opened #147 "DOWNLOAD_DATA section mandatory"
If I want only to claim on my profile it is not possible.
Right now I configured that the download path is `/tmp`

[2019-03-26 12:15] #145 closed

[2019-03-26 19:52] mjenczmyk commented on #146
Well, it depends. In general `pip` executable may point to pip inside Python 2.x or Python 3.x installation. For instance when I run `less $(which pip)` on my Debian mashine it runs indeed on Python 2.

[code]

On the other hand if I run it inside my virtualenv I've got output below (it runs on Python 3).

[code]

So it may depend on which Python installation is default on your mashine. How do you

[2019-03-26 20:01] Mte90 commented on #146
I think if we propose as command `pip3` is difficult that people use the wrong command in all the cases.

[2019-03-26 20:06] stashme commented on #135
Yes, I did run `pip install -e '.[dev]`. I am running `packt-cli -gd` via cron

[2019-04-07 20:54] AwaisAfzal1 commented on #119
how to download book from packt in simple words please

[2019-04-08 09:39] gjchester commented on #119
Hi

It may help saying how far you have got, have you already installed
and tried to use the script?

On Sun, 7 Apr 2019 at 21:55, AwaisAfzal1 <notifications@github.com> wrote:

[2019-04-08 11:08] Mte90 opened #149 "Exception occurred cannot unpack non-iterable NoneType object"
Command used `packt-cli -g`
Output in log
[code]

[2019-04-08 17:20] AwaisAfzal1 commented on #119
i am new to github community. which script are we taking about.............
please help  me from start

[2019-04-09 09:24] mjenczmyk commented on #149
You failed to log into Packt API - are you sure your credentials in configuration file are correct?

[2019-04-09 09:35] #125 closed

[2019-04-09 09:36] Mte90 commented on #149
You were right, maybe add a better error can be more helpful for the next one :-D

[2019-04-09 09:50] mjenczmyk commented on #149
We could exit from the script when fetching JWT fails, so the script doesn't break on confusing error (see diff below). What do you think?

[code]

[2019-04-09 09:52] Mte90 commented on #149
seems a good idea but maybe add in the error also: "check your login settings before try again" can be helpful.

[2019-04-09 09:55] mjenczmyk commented on #149
See #150 if it looks right.

[2019-04-09 09:56] mjenczmyk commented on #146
Should we do anything with that or may we leave it as it is (and assume that user has some knowledge about Python)?

[2019-04-09 10:01] Mte90 commented on #146
I think that if we write `pip3` for install is the best option so is clear for everyone, for who has knowledge of python and also for newbie that copy and paste commands.

[2019-04-09 10:03] mjenczmyk commented on #135
I've no idea what's the problem. Sorry, I'm afraid I'm unable to help with this.

[2019-04-09 10:04] mjenczmyk commented on #146
It won't work for people using `virtualenv` (which should be preferred way of installing the script).

[2019-04-09 10:06] mjenczmyk commented on #147
We could move download path and download formats to CLI parameters (the configuration file is too bulky right now anyway) - but I wouldn't like to do this without @luk6xff consent. What both of you think about that?

[2019-04-09 10:10] Mte90 commented on #146
So maybe it is possible to add another line that for virtualenv use [...] and for the other case use [...]

[2019-04-09 10:16] Mte90 commented on #147
Well I don't need to download it so maybe add as not mandatory to use the tool will require a bit of refactoring.

[2019-04-09 10:29] mjenczmyk commented on #146
I was wrong - it will work for people using `virtualenv`, so I think it's reasonable to write to change installation command in README.md to `pip3 install packt --upgrade`.

[2019-04-09 10:34] mjenczmyk commented on #146
Resolved by #152.

[2019-04-09 10:34] #146 closed

[2019-04-09 15:10] VictorJ76 opened #153 "Exception occurred argument of type 'NoneType' is not iterable"
Hi I justed realized it dont grab anymore. since approximately 1 month.

[code]

Ask me if you need more logs etc.

[2019-04-09 15:46] VictorJ76 commented on #153
My bad. I uploaded and it works.

[2019-04-09 15:47] #153 closed

[2019-04-11 18:16] gjchester commented on #119
Go to this page - https://github.com/luk6xff/Packt-Publishing-Free-Learning

This is the “master” for the issue you commented on.

You will need to have a computer running Python3, and follow the details on that page how to install the software.  You will also need to subscribe to the AntiCapture service listed oh that page for it to work.

This has the details of how to install the software, and

[2019-04-12 10:29] AwaisAfzal1 commented on #119
sire thanks for your kindness i am using kali linux wsl on windows 10

On Thu, Apr 11, 2019 at 11:16 PM gjchester <notifications@github.com> wrote:

[2019-04-12 11:14] gjchester commented on #119
HI

You can either install Python3, under Kali, or under Windows 10 itself,
Google can help you install Python3 directly on W10.  Note this WILL NOT
work with Python 2that Kali comes without of the box.

Once you have installed Python3 in your chocie of OS go back to the Master
Page and then you should be able to follow the instructions. as before.
Once its setup you can use either CRON in Kali or

[2019-04-16 14:44] mjenczmyk commented on #119
Actually we can download even those books that were claimed in 2019, as we are using API directly.

[2019-04-25 22:37] eharris opened #154 "Anti-captcha config required even if not doing any captcha processing"
I just tried upgrading to the latest version (1.2.2) and it now refuses to run:

[code]

I have no interest in using anti-captcha, and do not intend to setup an account, I just want to download the books already on my account.  Yet I'm unable to even though I'm not doing any processing that involves a captcha?

Also, it should be noted that the example config given in the README.md does not supply

[2019-05-17 16:10] ranrinc opened #156 "Crontab error"
When I run crontab it encounters this error:

[code]
However, it runs fine when I execute the CLI using my user's login. So crontab running but produce this error..

[2019-05-27 20:29] somhi opened #157 "Exception occurred expected string or bytes-like object"
$ packt-cli -g
[INFO] - JWT token has been fetched successfully!
[INFO] - Start grabbing ebook...
[ERROR] - Exception occurred expected string or bytes-like object

Any ideas on this error I got the last two days ?

I'm on Ubuntu 18.04

[2019-05-27 20:48] ad-m commented on #157
What version of Python?

[2019-05-28 06:56] mjenczmyk commented on #156
[This](https://stackoverflow.com/questions/32234393/encoding-issue-with-python3-and-click-package) seems to describe a similar problem as you seem to struggle with. You will find there some ideas on how to resolve this.

Anyway, is setting your locales to - let's say - `en_US.UTF-8` an option?

[2019-05-28 21:32] somhi commented on #157
Python 2.7.15rc1

[2019-05-28 23:49] ad-m commented on #157
That vesion of Python is not supported ( https://github.com/luk6xff/Packt-Publishing-Free-Learning/blob/master/setup.py#L45-L47 ).

[2019-05-29 06:38] mjenczmyk commented on #157
That's true, I'll close the issue.

[2019-05-29 06:38] #157 closed

[2019-05-29 20:23] somhi commented on #157
$ python3 --version
Python 3.6.7

I also have python v3.   The thing is the app has worked for more than two months, and a few days ago it started showing that error.

[2019-05-29 20:33] somhi commented on #157
Well now it's working again.
Just for the record I solved reinstalling again the sofware with:
pip3 install packt --upgrade

Cheers

[2019-06-22 12:30] vulgur opened #158 "Cannot grab the book"
Cannot grab the free book, alway got the error as below.

Downloading is working well if the book was already grabbed on the website.

[2019-06-23 18:29] mjenczmyk commented on #158
It seems that your AntiCaptcha API key is not valid (as I could guess from the message you provided). I didn't have any problems recently. Could you make sure your API key is valid?

[2019-06-25 13:55] vulgur commented on #158
Yes, API key is missing in the config file.

[2019-06-25 13:55] #158 closed

[2019-06-30 19:32] mjenczmyk commented on #147
Could you see if #160 resolves your problem? Just install script with `pip install git+https://github.com/mjenczmyk/Packt-Publishing-Free-Learning.git@downloader` and see if it works for you.

[2019-06-30 19:32] mjenczmyk commented on #154
Could you see if #160 resolves your problem? Just install script with pip install git+https://github.com/mjenczmyk/Packt-Publishing-Free-Learning.git@downloader and see if it works for you.

[2019-07-01 09:32] Mte90 commented on #147
![Screenshot_20190701_113147](https://user-images.githubusercontent.com/403283/60425943-e140f680-9bf3-11e9-98bc-ec4f67d50806.png)
I am getting this error

[2019-07-01 14:48] mjenczmyk commented on #147
Thanks, that's on me. I've fixed this and updated the branch, it should work now.

[2019-07-01 15:42] Mte90 commented on #147
it works :-)

[2019-07-01 15:59] mjenczmyk commented on #147
Awesome, have you checked that you can also download products without AntiCaptcha settings? If so, I'd be able to merge then.

[2019-07-05 14:24] #147 closed

[2019-07-05 14:41] mjenczmyk commented on #154
Resolved by #160.

[2019-07-05 14:41] #154 closed

[2019-07-06 06:20] luk6xff commented on #154
Big thanks to @mjenczmyk  for great support and keeping an eye on the repo!

[2019-07-23 12:33] VictorJ76 opened #162 "Script Packt not working on the first time"
Hello,

I'm using the lastest release and having an minor issue. every day I need to execute 2 times the packt-cli -gd command to get the ebook. You can see the error below.

You can ask me anything, logs, troubleshoot. I'm at your disposal.

[code]

[2019-07-23 12:58] mjenczmyk commented on #162
Looks like duplicate of #135. Unfortunately I couldn't help then, I'll think again what solution we could devise, but I cannot promise anything.

The (?) temporary solution may be cloning the repository, adding `time.sleep(60)` (maybe a few seconds will be enough, maybe waiting 60 seconds is not necessary) before `download_products(api_client, download_directory, formats, [product_data], into_fold

[2019-07-25 12:50] VictorJ76 commented on #135
Yes it looks like good now. I'll see in the future.

Thank you mjenczmyk ;)

[2019-07-25 12:51] VictorJ76 commented on #162
Yes it looks like good now. I'll see in the future.

Thank you mjenczmyk ;)

[2019-08-09 08:16] VictorJ76 commented on #162
Hello,
Sorry to bring this up again, but the time.spleep(60) didn't help. Tell me if you want logs or anything, thanks ;)

root@computer:~# packt-cli -gd --cfgpath /opt/Packt-Publishing-Free-Learning/configFile.cfg
[INFO] - JWT token has been fetched successfully!
[INFO] - Start grabbing ebook...
[INFO] - Getting your books data...
[INFO] - Books data has been successfully fetched.
[INFO] - Starte

[2019-08-09 14:17] tiredoftry commented on #119
I can confirm this is working on Windows 10 using Python 3.7.

[2019-08-10 14:35] AwaisAfzal1 commented on #119
thanks

On Fri, Aug 9, 2019 at 7:17 PM Randy <notifications@github.com> wrote:

--
<https://about.me/awaisafzal?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>
Awais Afzal
about.me/awaisafzal
<https://about.me/awaisafzal?promo=email_sig&utm_source=product&utm_medium=email_sig&utm_campaign=edit_panel&utm_content=thumb>

[2019-08-12 07:32] mjenczmyk commented on #162
OK, I may have an idea - we can write a function executing another function and retrying a few times after some time if condition taking function result is not satisfied (and timeout after given time).

[code]

This way we could wrap (or decorate) `lambda: get_product_download_urls(api_client, product_id)` with `wait_until`, so it would wait as long as it's needed. I'll write that code someday (ma

[2019-08-14 14:22] danmaxis commented on #162
It's been a while since Packt doesnt provide other formats than html (kinda bookdown). My question is that this script allows downloading books in this format too?

Thanks

[2019-08-19 06:04] mjenczmyk opened #163 "Available download formats"
It's been a while since Packt doesnt provide other formats than html (kinda bookdown). My question is that this script allows downloading books in this format too?

Thanks

_Originally posted by @danmaxis in https://github.com/luk6xff/Packt-Publishing-Free-Learning/issues/162#issuecomment-521267024_

[2019-08-19 06:06] mjenczmyk commented on #162
@danmaxis I've moved the discussion to another issue, as it's an off topic here.

[2019-08-19 06:24] mjenczmyk commented on #163
I'm not sure if I understood well what you meant (I could either think that you're asking about downloading HTML format or other formats).

Anyway, with the script you can download Packt products from Free Learning offer in PDF, EPUB  and MOBI formats (in case it's a e-book) or ZIP (in case it's a video). Regardless of whether it's e-book or video you can also download ZIP file with code samples (

[2019-08-19 06:27] mjenczmyk commented on #156
I'm closing the issue - it's not a problem with a script itself and it's been a long time since last message was posted.

[2019-08-19 06:27] #156 closed

[2019-08-19 20:30] danmaxis commented on #163
Oh sorry, I wasnt specific. I was referring about daily Free Learning material (books or videos) that demand clicking on "Claim Now" button.
These material are added to "My Owned Products" section but only with "Open in Reader" button available. I was wondering if the script could download those books too.

[2019-08-20 19:47] mjenczmyk commented on #163
Yes, you can download every available format, as if you've bought the book.

[2019-08-20 21:44] #163 closed

[2019-08-20 21:44] #130 closed

[2019-08-20 21:45] #149 closed

[2019-08-21 08:12] mjenczmyk commented on #163
@danmaxis I see @luk6xff has closed the issue, feel free to reopen or ask more if you have any more questions.

[2019-08-21 08:22] mjenczmyk commented on #162
@luk6xff Let's leave it open for a bit longer, I've an idea how to solve this problem (although I don't have any idea why I don't encounter this problem).

[2019-08-21 08:23] mjenczmyk commented on #135
It's a duplicate of #162, I'll try to resolve both issues soon.

[2019-08-28 04:56] mjenczmyk opened #164 "Sending e-mail breaks on Python 3.7"
[code]

[2019-08-28 16:09] #164 closed

[2019-08-28 18:45] mjenczmyk commented on #162
@VictorJ76 Please try installing script with `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@timeout` command and see if it helps. If not we may try to increase the timeout value.

If that helps install script with `pip install packt` and confirm that it does *not* work - that way we'll make sure whether #166 helps.

[2019-09-03 08:44] Trishun commented on #162
That has worked for me. Excellent!

[2019-09-05 13:21] mjenczmyk commented on #162
Glad I could help. Writing this `wait_for_computation` decorator was interesting itself, I haven't wrote in Python for some time until this pull request ;)

I'll merge it, release the new version and close the issue.

[2019-09-05 13:32] mjenczmyk commented on #135
Resolved by #166.

[2019-09-05 13:32] #135 closed

[2019-09-05 13:33] mjenczmyk commented on #162
Resolved by #166.

[2019-09-05 13:33] #162 closed

[2019-11-12 17:01] mjenczmyk opened #168 "Document how to release a new package version"
[code]

[2019-11-19 05:11] eharris opened #169 "Script now failing to fetch JWT token or download, change to website?"
Starting Nov 18, for `packt-cli -gd` the script has started producing:
[code]

Nothing has changed with login credentials or any other config, and it was working fine prior to 11/18.  Using version 1.4.3.

[2019-11-19 05:37] eharris commented on #154
This is still not resolved.  The script still fails to run if either the `ANTICAPTCHA_DATA` section is missing:
[code]

or if the `key` configuration isn't given.
[code]

Tested with current release 1.4.3.

[2019-11-19 07:03] mjenczmyk commented on #154
It has been resolved, but they started to require ReCaptcha solution also for login request.

[2019-11-19 07:19] mjenczmyk commented on #169
The script no longer works for me either. It seems that they require ReCaptcha solution for login request now (not only for Free Learning claim request), they've also rewritten their website to be rendered by AngularJS (but I'm not sure when they did this, it may have happened when they introduced API).

I'll try try to fix this (i cannot promise any deadline, it may be today, end of week or two w

[2019-11-19 08:01] mjenczmyk commented on #169
It seems that I've got a solution. Try installing script with `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@recaptcha-on-login`, see if that works.

I'll have to clean up this code further (than I'll make a pull request), I currently solve ReCaptcha twice - I think we can do this only once.

[2019-11-19 09:14] eharris opened #172 "Allow for self-solved anti-captcha"
With the changes they appear to have recently made that now requires solving a captcha even for logging in (see info in #169), the script doesn't even allow for downloading books you already own without setting up anti-captcha.

I have no interest in setting up or subscribing to an anti-captcha service, but I'm happy to solve the captcha myself manually, I just need a way to do so and provide that

[2019-11-19 21:49] mjenczmyk commented on #169
All right, but have you installed the script with the command I provided? If not can you describe what have you done and from where to where have you copied the files (and what are you trying to achieve)?

[2019-11-19 21:58] mjenczmyk commented on #172
If so why won't you just use their website? And what do you expect from the script: just the CLI command allowing you to pass ReCaptcha solution to it and run download all books or also a way to handle the ReCaptcha solving?

[2019-11-19 22:44] eharris commented on #172
The website doesn't offer an easy way to download anything I haven't already downloaded, or do so with consistent naming.  This script does.  I would have to manually and very time intensively figure out what I'm missing (on an continuing/ongoing basis) and then download anything I'm missing individually, make sure the names are correct.  And do all that work over and over again every single time

[2019-11-19 22:49] eharris commented on #172
Yes, I would expect some way to have the script let me solve the captcha and then continue to do its work with the results.  For example, one way that comes to mind would be to invoke a browser window and pass the captcha to it, and take the results of the submit back.  The anti-captcha service it's already using obviously has a way to do this, so it seems like there should be some reasonable way

[2019-11-19 22:53] eharris commented on #172
Maybe another way would be to have the user login to the site using a normal browser, and then invoke a little javascript or some other means of providing an easy way to expose and grab the JWT token easily from that login and just pass it on the command line to the script?

[2019-11-20 05:34] puzzledvacuum commented on #169
I can confirm installing the script with `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@recaptcha-on-login` works.

[2019-11-20 06:21] jackyhjj commented on #169
Hi, it seems that we are not able to own the daily free ebook from the website now, is there any other way to download it ?

[2019-11-20 07:14] jackyhjj commented on #169
Please help

<img width="871" alt="Screen Shot 2019-11-20 at 14 13 27" src="https://user-images.githubusercontent.com/7055599/69216939-f832b600-0b9f-11ea-950a-f2edd736b1c9.png">

[2019-11-20 07:19] mjenczmyk commented on #169
@jackyhjj You're using Python 2.7, the script doesn't support anything less than Python 3.5.

[2019-11-20 07:35] mjenczmyk commented on #169
I'm still not convinced that it works, and I've got a single shot a day (ReCaptcha solution seems to be mandatory iff user tries to claim a book he doesn't already have) - today I got 400 response when claiming book.

[code]

I'll update the code afternoon, but I won't merge it before tomorrow.
I'll update the script once more, but I'll need another day to make su

[2019-11-20 08:45] mraminella opened #173 "[ERROR] Fetching JWT token failed"
Hi Lukasz,
Thank you for sharing your very useful tool.
From this morning, I am having problems in grabbing the daily free ebook. I usually log in to my account and claim the free ebook from it, then I use the tool to retrieve the epub. From this morning, however, I receive the following errors:
[ERROR] - Fetching JWT token failed!
[INFO] - Start grabbing ebook...
[ERROR] - Exception occurred 'Non

[2019-11-20 08:49] #173 closed

[2019-11-20 08:49] mraminella commented on #173
duplicated with https://github.com/luk6xff/Packt-Publishing-Free-Learning/issues/169

[2019-11-20 08:56] jackyhjj commented on #169
I have checked my brew version of python is 3.7.5 but when i run packt-cli it keeps going to 2.7 Is there any setting or parameter that i can manually override using python3 ?

[2019-11-20 15:30] Danielx303 commented on #169
For now - it is working for me!

What have I done?
1. I have made a new copy of this packt script.
2. I use "github desktop" program to download the latest branch of this script.
3. Install it from "setup.py" file, restart my PC and... it works!!

[2019-11-20 16:44] jackyhjj commented on #169
Is there anyway to download the ebook based on the bookID ? if yes, what parameter should I use ?

[2019-11-20 19:33] laurentlemercier commented on #169
On a raspberry pi , rasbian, I have made a new virtual env python and downloaded this version. It works perfectly.

@ mjenczmyk : thanks a lot !!!!

[2019-11-21 07:05] #169 closed

[2019-11-21 07:07] mjenczmyk commented on #169
I've merged, let me know if something will be wrong. Today I'll release a 1.5.0 version.

[2019-11-21 07:12] fref commented on #169
Do we need a recaptcha token to fetch books?

[2019-11-21 07:21] mjenczmyk commented on #169
Yes, you need it since the beginning of the year. Since this week you need it to log into Packt account.

[2019-11-21 07:27] mjenczmyk commented on #172
I'll think about that, but it may not be very obvious (and almost surely beyond the scope of the CLI script). I'd just go for the second solution for the sake of simplicity of the script, but we'd need how to obtain ReCAPTCHA solution in the first place.

[2019-11-21 08:32] fref commented on #169
Isn't there any way to do this recaptcha manually? I just want to download the books.

[2019-11-21 11:36] alfiqmiq opened #174 "login to packt issue"
from a few days...

packt-cli -gd
[ERROR] - Fetching JWT token failed!
[INFO] - Start grabbing ebook...
[ERROR] - Exception occurred 'NoneType' object is not iterable

as i think is new packt double check issue (config for connection is ok)

![image](https://user-images.githubusercontent.com/9507245/69334637-786a2180-0c5b-11ea-8021-c471226c8934.png)

[2019-11-21 14:34] eharris commented on #169
@fref See #172 for a request for a way to solve recaptcha manually.

[2019-11-21 15:07] fref commented on #172
I second that demand.
I know it must be possible, I knew this was done for Pokemon Go mapping at some point in the past.

[2019-11-21 15:23] fref commented on #172
I searched for this, this was done in RocketMap and seems to be a non-trivial feature (they passed via a bookmarklet which in the end sent back information to the server-script)

[2019-11-21 19:28] mjenczmyk commented on #174
Isn't that duplicate of #169?

[2019-11-21 20:22] #168 closed

[2019-11-22 02:41] jackyhjj commented on #169
@mjenczmyk saw your commit 6 hours ago, and in the config file there is a 'key' field. What to be filled in the key field ?

[2019-11-22 06:09] mjenczmyk commented on #169
It's the [Anti Captcha](https://anti-captcha.com/) API key, you'd need to register there to obtain one.

[2019-11-24 12:19] greggmarshall commented on #169
Is there a way to get less than $10 of credits on the Anti Captcha site other than the probably too few demo credits?

[2019-11-26 11:54] supachris28 commented on #172
The Recaptcha on login is only enabled sometimes.

There are other endpoints that can be used with the access token and refresh token that a successful login grants, to get new valid tokens, following the OAuth2 model. I.e. once you have successfully authenticated, you can reauthenticate using your tokens at least every 30 days without using the username and password.

This would mean the Recaptch

[2019-11-29 06:45] mjenczmyk commented on #172
@supachris28 Where have you taken this information from? I'm especially interested how do you know that "you can reauthenticate using your tokens at least every 30 days without using the username and password".

I can see `access_token_live` and `refresh_token_live` in my cookies, they expire after 24 hours. How do you know that this refresh token will be valid for 30 days? Is it part of OAuth 2.0

[2019-12-02 19:38] supachris28 commented on #172
The cookies should be valid for longer, they are 30 days if you log into the subscription site rather than the store.

---------------

Please note this is not an endorsement of any activity.

[2019-12-10 07:05] mjenczmyk commented on #172
Can we assume that user can find JWT token in the cookies in the browser after logging in? If so it would be easy to provide additional CLI parameter (JWT token) which would override user authentication and make script use provided JWT token.

[2019-12-10 13:09] eharris commented on #172
If this is the solution used (having the user find and supply the JWT token from a browser login) then the script should probably also undertake the additional functionality @supachris28 noted to automatically "refresh" (extend the expiration of) the token(s) so that the user only has to supply it once, and the script keeps it "active" as long as the script is used on a regular enough basis to kee

[2019-12-17 07:29] mjenczmyk commented on #174
I'm assuming it is - in other case we can reopen the issue.

[2019-12-17 07:29] #174 closed

[2019-12-19 07:18] mjenczmyk opened #176 "Handle case when there is no Free Learning offer"
[code]

As probably everybody knows there is an exception raised when there is no Free Learning offer - we should handle it so the script will fail gracefully and with meaningful message.

[2020-01-15 08:09] Danielx303 opened #177 "Exception occurred HTTPSConnectionPool [..]"
Hi everyone!

It's work for me perfectly for last ~2month but yesterday and today I have this problem:

C:\ZZZZ\Packt-Publishing-Free-Learning-master>packt-cli -gd
[ERROR] - Fetching JWT token failed!
[INFO] - Start grabbing ebook...
[ERROR] - Exception occurred HTTPSConnectionPool(host='services.packtpub.com', port=443): Max retries exceeded with url: /free-learning-v1/offers?dateFrom=2020-01-15T

[2020-01-28 09:31] Danielx303 commented on #177
Ok. I've got it.

What I have done?
One more time - upgrade project in my repo ("pip3 install packt --upgrade") and.. Changing network without a blocked port.

I think the last thing caused this problem.

Reagards!

[2020-01-28 15:13] #177 closed

[2020-02-11 13:35] plaidshirtakos opened #178 "Create grabEbookFromPacktTask.bat file"
How do you create grabEbookFromPacktTask.bat file for schtasks on Windows?

[2020-02-11 14:51] #178 closed

[2020-03-05 10:38] RiaanvWyk opened #179 "Incorrectly names files with special characters"
Hi there,
the folders and files created from book titles containing special characters such as "# or +" are not correctly named. For example "Learn C# in 7 days" is saved as "Learn C in 7 days" and "The Modern C++ Challenge" is saved as "The Modern C Challenge"

[2020-03-05 11:07] mjenczmyk commented on #179
We are using [`python-slugify`](https://github.com/un33k/python-slugify) to convert book title to file name. According to [StackOverflow](https://stackoverflow.com/questions/1976007/what-characters-are-forbidden-in-windows-and-linux-directory-names) the characters you are writing about are valid file name characters.

We may whitelist # and + characters so they won't be removed by `python-slugify`

[2020-03-05 11:46] RiaanvWyk commented on #179
Excellent, thanks for the prompt reply! I also concluded that it was the python-slugify package and started playing around with the source. It would be great if you could whitelist # and +. It would be nice if the period character ".", "-" and "–" is also whitelisted (if that isn't asking too much). Some of the books contain them e.g. "C# 7.1 and .NET Core 2.0 – Modern Cross-Platform Development"

[2020-03-06 12:30] RiaanvWyk commented on #179
Actually I forked the repository and just removed the use of slugify to keep the full filename as it is returned from Packtpub. Since it is a personal preference I don't think it is needed to make these changes on the main branch so I'm closing the ticket!

[2020-03-17 16:32] mjenczmyk commented on #179
@RiaanvWyk Please, have a look at #180 - does it look OK?

[2020-03-18 07:40] RiaanvWyk commented on #179
@mjenczmyk Looks good, thanks!

[2020-03-18 16:57] mjenczmyk commented on #179
I'll merge it and release a new patch version. Thanks for issuing this bug, I wasn't aware of it.

[2020-03-18 16:57] #179 closed

[2020-03-21 12:59] greggmarshall commented on #179
Amusing side effect of the change.  When I did a monthly download of claimed books, it is downloading some older titles that now have different filenames with the additional characters.  Hardly an issue, just an observation.

[2020-03-24 18:00] mjenczmyk commented on #179
Makes sense, previously file names could easily conflict with each other.

[2020-03-26 11:21] RuthlessRuler commented on #172
Any Plans to implement cookie based log ins?
I'm trying to DL my entire library But I cant Log in due to Anti-Captcha token requirement.

[2020-03-30 11:56] mjenczmyk commented on #172
It'd be possible to change the code to be able to pass JWT (not very hard, I'd say its very easy). Then you could log in the browser, extract JWT token from the cookies (do you know how to do it?) and pass it to the script (although we'd be unable to fetch another token after passed one expires).

We (I?) could also see one day how to properly refresh token as specified in JWT specification, than

[2020-03-31 12:38] RuthlessRuler commented on #172
Cant we just ask User to export the cookies of the browser and let the Program search for the token and do it automatically like how it's done in aria2c?
I'm comfortable with any option though, But i just want token to be last enough for 300+ Books to be DLed at <1MBps speed.

[2020-04-05 14:21] mjenczmyk commented on #172
I see it may be quite easy using [browser-cookie3](https://github.com/borisbabic/browser_cookie3), I'll try to do it in spare time (I cannot promise any particular deadline though, I just promise I'll have that in my mind).

[2020-04-10 10:52] laurentlemercier opened #181 "Googledrive "Error Redirected but the response is missing a Location" Issue"
I got this message on a fresh install using 1.5.1 version, with **combat proven** config files and credentials used in 1.5 version.

Found a clue here : https://github.com/googleapis/google-api-python-client/issues/803. Looks like
httplib2> v0.15.0 is incompatible with google-api-python library .

Solved by using prior version : pip install httplib2==0.15.0

[2020-04-10 14:31] mjenczmyk commented on #181
Can you try to clone the repository, upgrade `google-api-python-client`, install the script with `pip install -e .` and check if that helps? We may pin the `httplib2` version, but I think it'd be better to upgrade other packages.

[2020-04-10 14:45] mjenczmyk commented on #181
Nevermind, just check if fresh installation from `pip-upgrade` branch helps. Just install the script with `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@pip-upgrade` command.

[2020-04-14 16:02] laurentlemercier commented on #181
Hi,
Thank you for your tups.
On a fresh installation , with pip-upgrade branch, and adding " pip install --upgrade oauth2client", it works fine.
Regards,
Laurent

[2020-04-23 18:18] mjenczmyk commented on #181
Was running `pip install --upgrade oauth2client` essential here? If it was than my changes weren't sufficient, than I'd ask ask you to run `pip freeze` after upgrading `oauth2client` and post the output here.

If it wasn't necessary than we may merge this branch and release a new version.

[2020-04-23 18:21] mjenczmyk commented on #181
Sorry for the long response time, I try to respond as soon as possible, but in this case I put this off and forgot about it.

[2020-04-27 09:06] laurentlemercier commented on #181
Sorry, I have been long.

"pip install --upgrade oauth2client" is required for use with google drive API. Without, you get this message after claiming and downloading (successfully !) the books : <code> [ERROR] - Exception occurred No module named 'oauth2client' </code>

This is the result of pip freeze:
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
google-api-core==1.17.0
goog

[2020-04-27 09:29] mjenczmyk commented on #181
Thanks, I'll update the pull request in the afternoon and let you know - I'd like to ask you to check it once more after that change.

[2020-04-27 13:53] mjenczmyk commented on #181
Can you try now on a fresh virtualenv installing the script with `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@pip-upgrade`? I've made a pull request #182 with this possible fix.

[2020-04-27 19:26] laurentlemercier commented on #181
Tested tonight, on a new env, it  works perfectly.
Thanks a lot
Laurent

[2020-04-28 18:53] mjenczmyk commented on #181
Thanks for raising this issue. I've merged the pull request and released a new patch version.

[2020-04-28 18:53] #181 closed

[2020-04-29 06:41] mjenczmyk opened #186 "Travis CI is no longer"
Hi @luk6xff,

I've replaced Travis CI with GitHub actions yesterday. You may remove any connection between your Travis account and this repository.

[2020-04-29 07:15] mjenczmyk opened #187 "Automate pip package release process"
Hi @luk6xff,

I've been trying to [automate pip package release process](https://github.com/actions/starter-workflows/blob/master/ci/python-publish.yml) with GitHub actions, so I woudn't have to make it myself. Unfortunately this requires me to provide my PyPi credentials (that should remain secret) and I don't have access to this repository's settings.

There are two solutions: either you may cre

[2020-05-08 07:54] Danielx303 opened #188 "Question about download Video"
C:\ZZZZ\Packt-Publishing-Free-Learning-master>packt-cli -gd
[INFO] - Started solving ReCAPTCHA for https://www.packtpub.com/ website...
[INFO] - Waiting for completion of the 212279712 task...
[SUCCESS] - Solution found for 212279712 task.
[INFO] - JWT token has been fetched successfully!
[INFO] - Start grabbing ebook...
[INFO] - Getting your books data...
[INFO] - Books data has been successfully

[2020-05-08 19:12] mjenczmyk commented on #188
I recall something like that happening before 1.4.2 version of the script, are you using the fresh version? Could you check what's the version of the script you're running (`pip freeze | grep packt` on Debian derived GNU/Linux system)?

[2020-05-11 08:17] Danielx303 commented on #188
Yes, you're right!

I have two different catalogues with a script on my PC. One is the newest, I'm upgrading him using the program "GitHub for desktop", and the second catalogue - I'm abandoned this because I had a problem with it.

And - first - it is 1.5.1
second - 1.4.2 :)

I thought that I really abandoned this second one, but I've checked one more time my "schtasks.exe" and my "*.bat" file an

[2020-05-11 17:23] mjenczmyk commented on #188
Glad I could help ;)

[2020-05-11 17:23] #188 closed

[2020-05-14 13:18] laurentlemercier commented on #176
Hello
I have  created pull request #189 (my first one...) in order to handle it.
I have tried it past days, it seems OK (when there is an offer and when there isn't).
Hope this helps, regards
Laurent

[2020-05-15 05:57] mjenczmyk opened #190 "ERROR_FAILED_LOADING_WIDGET"
Anybody else having this problem? I haven't tried to find the reason yet.

[code]

[2020-05-15 06:17] mjenczmyk commented on #176
Thanks, I tried to solve it myself last week, but I didn't finish it though. I see that raising the exception may be easy to handle, I tried it another way.

[2020-05-15 20:33] laurentlemercier commented on #176
Sorry for using french, I was handling a meeting while writing down the code.
Now code is in english and pylama errors free.
Using the existing exception, you receive a message  "Today's free Packt ebook grabbing has failed with exception: : There is no Free Learning offer right now". Not ideal, but meaningfull while reading your email.
I am neither an expert in python nor in git, please forgive m

[2020-05-19 17:33] mjenczmyk commented on #176
No problem, there is a time to learn. I've added two comments, but it looks much better now ;)

[2020-05-20 21:21] mjenczmyk commented on #176
Thanks for your pull request, now it's much clearer for the user to see what happened when script failed due to no Free Learning offer.

[2020-05-20 21:21] #176 closed

[2020-05-21 15:10] #142 closed

[2020-07-05 06:44] plaidshirtakos opened #194 "Exception occurred too many values to unpack (expected 1)"
Script is unable to get daily ebook. I got following error during execution of `packt-cli -gd`

[code]

[2020-07-05 09:40] laurentlemercier commented on #194
Hello
Are you sure version 1.5.3 is installed ? I have made this [modification ](https://github.com/luk6xff/Packt-Publishing-Free-Learning/commit/2f1e19d0329ef9dac2c546a56d5ebf9a8d5c3188) to handle this case, it works correctly (on raspbian).
Regards
Laurent

[2020-07-05 13:40] #194 closed

[2020-07-06 07:14] Danielx303 opened #195 "Exception occurred too many values to unpack (expected 1)"
C:\WINDOWS\system32>chdir C:\Packt-Publishing-Free-Learning

C:\Packt-Publishing-Free-Learning>packt-cli -gd
[INFO] - Started solving ReCAPTCHA for https://www.packtpub.com/ website...
[INFO] - Waiting for completion of the 702028762 task...
[SUCCESS] - Solution found for 702028762 task.
[INFO] - JWT token has been fetched successfully!
[INFO] - Start grabbing ebook...
[ERROR] - Exception occurred

[2020-07-06 07:53] mjenczmyk commented on #195
Hi,

are you sure version 1.5.3 is installed ? @laurentlemercier has fixed this issue on current master - try to update the script with `pip install packt -U`.

[2020-07-06 16:19] mjenczmyk commented on #187
@luk6xff Which way are we going to go?

[2020-07-07 07:57] Danielx303 commented on #195
Hmmm... I've done what you said and it works! This is very strange to me...

This is my steps:

1. one more time check version of my program - in the folder there is 1.5.3. Also, my 'github desktop' say that is 1.5.3.

2. run "packt-cli -gd" - the same issue

3. run "pip install packt -U"

this is the last lane:
`  Attempting uninstall: packt
    **Found existing installation: packt 1.5.0**
    **

[2020-07-07 12:55] mjenczmyk commented on #195
I'm glad I could help ;) Sorry if I'm assuming below lesser extend of your knowledge about Python packaging that it really is.

The entire point of publishing this package on PyPi (which I was trying to do from the beginning) is that you don't need to copy any code, clone any repository or even have `git` or GitHub Desktop installed on your computer. Having Python installed and running `pip instal

[2020-07-07 12:55] #195 closed

[2020-07-07 12:57] mjenczmyk commented on #190
I'm assuming that it's not reproducible, I'm closing the issue.

[2020-07-07 12:57] #190 closed

[2020-07-20 03:48] eharris opened #196 "Book downloads should strip leading dot on filename"
If a book is downloaded and the title starts with a dot (`.`) then it no longer gets stripped, which causes the book to be "hidden" insofar as normal unix filenaming conventions.

This is a bug/side effect introduced in version 1.5.1 (checkin baa8d8f616cf533f40e5485334b03ddbc3037052) which changed to allow punctuation (including dot) in downloaded filenames.

I have books in my library with titles

[2020-07-20 15:49] mjenczmyk commented on #196
That's right, I'd also consider that a bug (it has been caused by `python-slugify`) upgrade - so what's the expected behaviour? Should we remove the period from the title?

[2020-07-21 11:34] eharris commented on #196
The simplest thing is probably just to remove it or replace it with something else like an underscore.  Other alternatives would be to replace it with something that looks similar but doesn't behave as a normal ASCII period, like UTF-8 U+FF0E (FULLWIDTH FULL STOP).  Substituting a dash `-` might be better from a sorting standpoint, since dash and period are immediately adjacent in ASCII, but that

[2020-08-19 11:20] Mte90 opened #197 "Captcha timeout"
I am getting this, it is possible to let retry multiple times?

[code]

[2020-08-19 12:17] Mte90 opened #198 "File placed wrongly with pip"
![immagine](https://user-images.githubusercontent.com/403283/90633599-9c788480-e226-11ea-8cc2-ad003ca0b6cc.png)
This is how the files are placed after installing it with pip.
The files are in the dist-packages root and not in a specific folder.

[2020-09-01 16:29] mjenczmyk commented on #197
Currently it's not possible, but it shouldn't be very hard to make it possible. I'm quite busy recently, but I may have a look at it in the future.

[2020-09-01 16:32] mjenczmyk commented on #198
Why isn't that OK? Can you provide link to the documentation describing how it should be done? I'm not saying it's OK though, it should be fixed if there is something wrong with it.

[2020-09-01 16:35] Mte90 commented on #198
that files should be created inside a folder and not put in the root as it is now.

[2020-09-23 16:44] mjenczmyk commented on #198
Can you see if #199 looks right? Now installed files should be placed in the `packt` directory. You can install the script with `pip install git+https://github.com/luk6xff/Packt-Publishing-Free-Learning.git@packaging` command.

I've tried do make sure everything works fine, but double-check it - I wouldn't like to rely on myself.

[2020-09-23 16:47] Mte90 commented on #198
to me seems everything fine :-)

[2020-09-23 16:47] mjenczmyk commented on #187
@luk6xff Can I remind you about this issue?

[2020-09-23 16:55] #198 closed

[2020-10-25 12:43] mjenczmyk opened #200 "#movingtogitlab"
Hi,

I'm not the owner of this repository, but for some time now I've been actively maintaining this repository. I'm also the maintainer of the PyPi package allowing for easy installation of the script.

I didn't like the fact that the GitHub has been acquired by Microsoft, but I continued to use GitHub to maintain this package - for the sake of the community. Also the communication with this repo

[2020-10-25 12:50] mjenczmyk commented on #200
Of course I'm not going to pretend that I'm the only one that may decide about the future of the script - so you may decide to create a new package on the PyPI (or we can talk about transferring `packt` package to some active maintainer of this repository). What I can do is to invite you to contribute to repository on GitLab and promise I'll try to maintain that repository as long as the time will

[2020-10-26 06:35] laurentlemercier commented on #200
Hi,
I will help you if I can.
Maybe we could change the README on github to say this is a deprecated version ?
Regards
Laurent

[2020-10-28 19:03] mjenczmyk commented on #200
I think it's a matter of whether there is anybody who will want to maintain development here and is not willing to do that on GitLab - it's not up to me to decide if declaring that it's a abandoned fork with a depreciated version is a good idea.

[2020-12-01 16:17] luk6xff commented on #187
Hello, welcome back after long time, I was mega busy with other projects for last year and had no time for checking the github inbox. Sure I can create such organization, or maybe You can create and we shall move this repository to your account ? As you've been taking care of this repo, you could create a fork and provide support for it on your own rules . What do you think  ?

[2020-12-10 19:46] mjenczmyk commented on #187
Hi,

I've invited you to the organization as an owner - I want you to have a control over the repository. If you don't mind let's move the repository there (preferably in a way that will redirect from the old URL to the new one - I don't use GitHub on everyday so I'm not sure how to do that). I believe that than I'll be able to automate release process.

BTW, should I close the #186 issue?

[2020-12-10 21:45] luk6xff commented on #187
@mjenczmyk  That's great!, Thanks a lot :) , I have moved the repo  right now :) https://github.com/packt-cli

[2020-12-10 21:46] luk6xff commented on #187
Of course, please close #186 and #200 . Gitlab is good but on github we will have much more visitors and users of the script :)

[2020-12-10 21:59] mjenczmyk commented on #187
Thanks, I can see that https://github.com/luk6xff/Packt-Publishing-Free-Learning is redirecting to the new URL.

Yeah, I use GitLab because I'm not a great fan of Microsoft, but the audience is bigger on the GitHub indeed. I'll close those issues, in my free time I'll have a look how to automate the release here - I don't like to do it manually `git push` should be everything I need to release the

[2020-12-10 22:00] mjenczmyk commented on #200
Let's give it a try here for a bit longer ;)

[2020-12-10 22:00] #200 closed

[2020-12-10 22:02] mjenczmyk commented on #186
The Travis CI for the project still exists but maybe it doesn't matter.

[2020-12-10 22:02] #186 closed

[2020-12-17 16:18] greggmarshall opened #201 "No Longer Downloading Videos?"
I've had my configuration setup to download videos ever since the option was added.

During the $5 special I ordered a couple of videos and noticed in a download pass afterward that neither video came down.

Did something change to cause videos to not be downloaded?

[2021-02-02 05:35] GrApeSoUrce11 opened #202 "Lua"

[2021-06-03 09:04] ranrinc opened #203 "Docker"
Will you create Dockerfile in the future?

[2021-07-29 06:40] luk6xff commented on #203
@ranrinc Good idea! maybe you can create it :)  ?

[2021-09-07 05:40] Tokariew commented on #203
My little weird setup with podman…
Dockerfile
[code]

and init.sh
[code]

As it is a podman I don't care if it run as root inside a container.

I run that on schedule twice a day in case some error occur with anticaptcha, timeout or no free bots
On first day of month I run command to run full download, in case there was some problem downloading it during normal month.
The configFile.cfg is copied

[2021-09-08 03:19] ranrinc commented on #203
@Tokariew is it working? would love to test it. Is there a way to get away with alpine instead of fedora?

[2021-09-08 05:29] Tokariew commented on #203
Yes it is working for me for the last 1.5 year… Only changed fedora version on which is based.
I will try to rewrite it to alpine, and test how to run it with uploading to Gdrive

I run it with podman instead of docker.

[code]
After running that for the first time I generate systemd service file with
[code]
and write systemd timer for it.

[2021-09-08 08:07] ranrinc commented on #203
did you upload the book to gdrive?

[2021-09-08 15:43] Tokariew commented on #203
minimalistic Dockerfile

[code]
example of how to run it:
[code]
configFile.cfg and client_secret.json should be placed in mounted volume, that way it can be publish on registry and not only build locally

to upload to Google Drive you can copy existing working `.credentials` folder into mounted volume
or run as following for the first time:

[code]

after first time it can be run without `-c conf

[2021-11-09 14:54] seswho commented on #197
I am seeing the same problem as Mte90.

is there a way to return a non zero value from pack-cli when there is any sort of failure?

The return code could be used in a scheduled script to run packt-cli until the book was successfully downloaded.

[2021-11-10 08:01] laurentlemercier commented on #197
@seswho : Tested quickly but seems to work. I am interested by your script for scheduling.

[2022-03-03 20:34] tiredoftry opened #205 "Add the date to the folder/file name"
Packt free learning is great, but many of the titles can be a bit outdated.  Adding the published year to the save path and/or file name would allow seeing the 'freshness' faster since it would not require opening each book/video.

Example - 'Flutter_for_Beginners.zip' would be 'Flutter_for_Beginners_2019.zip' or would be stored in a folder name 'Flutter_for_Beginners_2019'.

The published date is

[2022-08-03 18:39] nixzahlen opened #206 "ERROR - Exception occurred There is no Free Learning offer right now"
Hi.

Since some days I'm getting:
[code]
But I still can access & read the daily fee books...

[2022-08-19 20:01] laurentlemercier commented on #206
Hi
The repo moved ... Have a look here : https://gitlab.com/packt-cli/packt-cli/-/issues/5
Regards
Laurent